<div class="owl-carousel header-carousel position-relative">
    <div class="owl-carousel-item position-relative">
        <img class="img-fluid" src="/Commom/image/index.jpeg" alt="">
        <div class="owl-carousel-inner">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-8">
                        <p class="text-primary text-uppercase fw-bold mb-2">// Le Goûter</p>
                        <h1 class="display-1 text-light mb-4 animated slideInDown">我們用熱情烘焙</h1>
                        <p class="text-light fs-5 mb-4 pb-3">將法式甜點的美味分享給每一個人</p>
                        <a href="" class="btn btn-primary rounded-pill py-3 px-5">了解更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="owl-carousel-item position-relative">
        <img class="img-fluid" src="/Commom/image/class.jpg" alt="">
        <div class="owl-carousel-inner">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-8">
                        <p class="text-primary text-uppercase fw-bold mb-2">// 甜點課程</p>
                        <h1 class="display-1 text-light mb-4 animated slideInDown">歡迎熱情的甜點愛好者</h1>
                        <p class="text-light fs-5 mb-4 pb-3">
                            學習法式甜點的秘密！我們的法式甜點課程將揭開甜點的神秘面紗，教您製作經典的克麗絲朵、馬卡龍等甜點，讓您在家也能輕鬆烘焙出法國風味的美味佳餚！</p>
                        <a href="" class="btn btn-primary rounded-pill py-3 px-5">了解更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="owl-carousel-item position-relative">
        <img class="img-fluid" src="/Commom/image/shop.jpg" alt="">
        <div class="owl-carousel-inner">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-8">
                        <p class="text-primary text-uppercase fw-bold mb-2">// 甜點商城</p>
                        <h1 class="display-1 text-light mb-4 animated slideInDown">尋找完美滋味!</h1>
                        <p class="text-light fs-5 mb-4 pb-3">追尋糕點的魔法，從我們的甜點商城開啟令人陶醉的甜蜜之旅!</p>
                        <a href="" class="btn btn-primary rounded-pill py-3 px-5">了解更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="owl-carousel-item position-relative">
        <img class="img-fluid" src="/Commom/image/group.jpg" alt="">
        <div class="owl-carousel-inner">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-8">
                        <p class="text-primary text-uppercase fw-bold mb-2">// 團購專區</p>
                        <h1 class="display-1 text-light mb-4 animated slideInDown">分享美味的時刻</h1>
                        <p class="text-light fs-5 mb-4 pb-3">享受優惠價格的同時，探索糕點世界的無限魅力!</p>
                        <a href="" class="btn btn-primary rounded-pill py-3 px-5">了解更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>