<div class="container-fluid bg-dark text-light footer my-6 mb-0 py-5 wow fadeIn" data-wow-delay="0.1s" id="footer-div">
<div class="container py-5">
    <div class="row g-5">
        <div class="col-lg-3 col-md-6">
            <h4 class="text-light mb-4">粉絲專頁</h4>

            <div class="d-flex pt-2">
                <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i
                        class="fab fa-facebook-f"></i></a>
                <a class="btn btn-square btn-outline-light rounded-circle me-0" href=""><i
                        class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <h4 class="text-light mb-4">關於我們</h4>
            <a class="btn btn-link" href="">認識Le Goûter</a>
            <a class="btn btn-link" href="">最新消息</a>
            <a class="btn btn-link" href="">甜點商城</a>
            <a class="btn btn-link" href="">課程專區</a>
            <a class="btn btn-link" href="">團購專區</a>
            <a class="btn btn-link" href="">服務條款</a>
            <a class="btn btn-link" href="">隱私政策</a>
            <a class="btn btn-link" href="">聯絡我們</a>
        </div>

        <div class="col-lg-3 col-md-6">
            <h4 class="text-light mb-4">常見問題</h4>
            <a class="btn btn-link" href="">註冊登入</a>
            <a class="btn btn-link" href="">FAQ</a>
            <a class="btn btn-link" href="">回報客服</a>
            <a class="btn btn-link" href="">購物須知</a>
            <a class="btn btn-link" href="">退款政策</a>
        </div>

        <div class="col-lg-3 col-md-6">
            <h4 class="text-light mb-4"></h4>
            <div class="row g-2">
                <div class="col-4">
                    <img class="img-fluid bg-light rounded p-1" src="/Commom/picture/product-1.jpg" alt="Image">
                </div>
                <div class="col-4">
                    <img class="img-fluid bg-light rounded p-1" src="/Commom/picture/product-2.jpg" alt="Image">
                </div>
                <div class="col-4">
                    <img class="img-fluid bg-light rounded p-1" src="/Commom/picture/product-3.jpg" alt="Image">
                </div>
                <div class="col-4">
                    <img class="img-fluid bg-light rounded p-1" src="/Commom/picture/product-2.jpg" alt="Image">
                </div>
                <div class="col-4">
                    <img class="img-fluid bg-light rounded p-1" src="/Commom/picture/product-3.jpg" alt="Image">
                </div>
                <div class="col-4">
                    <img class="img-fluid bg-light rounded p-1" src="/Commom/picture/product-1.jpg" alt="Image">
                </div>
            </div>
        </div>
    </div>
</div>
</div>