<!doctype html>
<html lang="en">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>back-nav-bar</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="back-nav-bar.css">  -->

    <!-- import font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
    <!-- evely_css -->
    <link rel="stylesheet" type="text/css" href="/Course/CSS/style.css">
    <link rel="stylesheet" type="text/css" href="/Course/CSS/evelyn.css">
    <link rel="stylesheet" type="text/css" href="/Course/CSS/app.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <style>
        #nav-bar {
            background-color: #1E1916;

        }

        .nav-pills {
            --bs-nav-pills-link-active-bg: white;
        }

        :root {
            --bs-link-color: white;
            --bs-link-hover-color: orange;

        }

        /* 標題列 */
        #mainheader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 80px;
            background: #f8d3ae;
            position: static;
            top: 0;
            left: 0;
            z-index: 999;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nav-link {
            font-size: 20px;
        }

        .dropdown {
            font-size: 20px;
        }

        .dropdown-item {
            font-size: 20px;
        }

        .dropdown-toggle::after {
            color: #1E1916;
        }
    </style>


</head>

<body>


<section id="mainheader">
    <script src="/Conponents/back_end.js"></script>
    <span style="font-size: 40px; font-family: serif;">Le Goûter </span>
    <span style="font-size: 40px; font-family: 'Jost', sans-serif;">&nbsp後台管理系統</span>

    <!-- 員工功能小圈圈 -->

    <div class="dropdown" style="position: absolute; right: 30px;">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
           id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/weichen9715/catpic/blob/main/smudge_lord_60314581_2452933891436033_1050250552612724249_n.jpg?raw=true"
                 alt="noimg" width="30" height="30" class="rounded-circle">
            <span class="d-none d-sm-inline mx-1" style="color: #1E1916;">employee</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <!-- <li><a class="dropdown-item" href="#">New project</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li> -->
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>


</section>


<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 " id="nav-bar">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">

                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                    id="menu">

                    <!-- 1 -->
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>

                    <!-- 2 -->
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">會員管理系統</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-4"> <span
                                        class="d-none d-sm-inline">會員權限管理</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-4"> <span
                                        class="d-none d-sm-inline">會員資料管理</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">優惠管理</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">網站管理系統</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">即時客服</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-4"> <span
                                        class="d-none d-sm-inline">輪播圖管理</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-4"> <span
                                        class="d-none d-sm-inline">最新消息管理</span></a>
                            </li>
                        </ul>
                    </li>

                    <!-- 5 -->
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">團購管理系統</span> </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-4"> <span
                                        class="d-none d-sm-inline">團購商品管理</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-4"> <span
                                        class="d-none d-sm-inline">團購參與者訂單管理</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-4"> <span
                                        class="d-none d-sm-inline">團購方案管理</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-4"> <span
                                        class="d-none d-sm-inline">團購活動管理</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-4"> <span
                                        class="d-none d-sm-inline">團購分潤管理</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">課程管理系統</span> </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-4"> <span
                                        class="d-none d-sm-inline">課程訂單管理</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-4"> <span
                                        class="d-none d-sm-inline">課程資訊審核管理</span></a>
                            </li>
                        </ul>
                    </li>

                    <!-- 8 -->
                    <li>
                        <a href="#submenu5" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">主廚管理</span> </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu5" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-4"> <span
                                        class="d-none d-sm-inline">主廚資料管理</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-4"> <span
                                        class="d-none d-sm-inline">課程討論區管理</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-4"> <span
                                        class="d-none d-sm-inline">課程資訊管理</span></a>
                            </li>
                        </ul>
                    </li>

                    <!-- 9 -->
                    <li>
                        <a href="#submenu6" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">甜點管理系統</span> </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu6" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-4"> <span
                                        class="d-none d-sm-inline">甜點訂單管理</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-4"> <span
                                        class="d-none d-sm-inline">甜點商品管理</span></a>
                            </li>
                        </ul>
                    </li>

                    <!-- 10 -->
                    <li>
                        <a href="#submenu7" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">員工管理系統</span> </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu7" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-4"> <span
                                        class="d-none d-sm-inline">員工資料管理</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-4"> <span
                                        class="d-none d-sm-inline">員工權限管理</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- 員工功能小圈圈 -->
            </div>
        </div>
        <!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
        <div class="col py-3">
            <!-- 由此開始 -->
            <!-- 主要內容 -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center">
                            課程上傳
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-xl-6 col-xxl-6 col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">課程內容</h4>
                                </div>
                                <div class="card-body">
                                    <div class="basic-form">
                                        <form id="courseForm">
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">課程圖片</label>
                                                <div class="col-sm-10">
                                                    <input type="file" class="dropify-img" data-default-file=""
                                                           id="courseImg" accept="image/*">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">課程名稱</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control input-default "
                                                           placeholder="課程名稱" id="courseName">
                                                    <small id="courseNameError" class="form-text text-danger"
                                                           style="display:none;">名稱需至少3個字，且必須包含中文字</small>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">課程售價</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control input-default "
                                                           placeholder="課程售價" id="coursePrice">
                                                    <small id="coursePriceError" class="form-text text-danger"
                                                           style="display:none;">售價只能填寫數字，且首位不能為0</small>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">課程介紹</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" rows="4"
                                                              id="courseContent"></textarea>
                                                    <small id="courseContentError" class="form-text text-danger"
                                                           style="display:none;">課程介紹至少要有10個字，且必須包含中文字</small>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="card-header">
                                            <h4 class="card-title">影片上傳</h4>
                                            <button id="addVideo" type="button" class="btn btn-sm btn-warning"
                                                    value="新增影片">新增影片
                                            </button>
                                        </div>
                                        <form>
                                            <div class="card-body">
                                                <table id="addvideotable" class="display dataTable"
                                                       style="width: 100%">
                                                    <tbody>
                                                    <!--                                                    <tr>-->
                                                    <!--                                                        <td>試看</td>-->
                                                    <!--                                                        <td>試看影片</td>-->
                                                    <!--                                                        <td><input type="file" class="dropify" data-default-file=""-->
                                                    <!--                                                                   id="courseVideo"></td>-->
                                                    <!--                                                    </tr>-->
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="card-body">
                                                <form action="#" method="post">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            <button type="button"
                                                                    class="videoAdd btn btn-primary" id="submit">送出
                                                            </button>
                                                            <button type="button"
                                                                    class="btn btn-light" id="cancel">取消
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 由此結束 -->
</div>

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- import font awesome -->
<script src="https://kit.fontawesome.com/3d215f6a1d.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/Course/JS/Jquery.js"></script>
<script src="/Course/JS/jquery.dataTables.min.js"></script>
<script src="/Course/JS/datatables.init.js"></script>

<script>

    $(document).ready(function () {
        let videoData = []; // 儲存影片資料

        // 刪除指定行並更新資料
        $(document).on('click', '.deleteRow', function () {
            let index = $(this).closest('tr').index(); // 獲取行索引
            videoData.splice(index, 1); // 從陣列中刪除對應的資料
            $(this).closest('tr').remove();
            updateRowNumbers(); // 更新編號
            saveDataToLocalStorage(); // 將資料保存至 localStorage
        });

        // 從 localStorage 中檢索資料並顯示在頁面上
        function loadDataFromLocalStorage() {
            let storedData = localStorage.getItem('videoData');
            if (storedData) {
                videoData = JSON.parse(storedData);

                videoData.forEach(function (data) {
                    let newRow = $('<tr>');
                    let rowContent = `
                <td><input type="text" value="${data.name}" class="nameInput"></td>
                <td><input type="file" class="dropify" data-default-file="" accept="video/*"></td>
                <td><i class="fa fa-trash btn btn-sm btn-danger deleteRow"></i></td>
            `;

                    newRow.html(rowContent);
                    newRow.insertBefore("#addvideotable tbody");
                });
            }
        }

        // 將資料保存至 localStorage
        function saveDataToLocalStorage() {
            localStorage.setItem('videoData', JSON.stringify(videoData));
        }

        $('#addVideo').click(function () {
            let newData = {
                id: '',
                name: '',
                file: ''
            };
            videoData.push(newData);

            let newRow = $('<tr>');
            let rowContent = `
        <td><input type="text" value="${newData.name}" class="nameInput" placeholder="輸入影片名稱"></td>
        <td><input type="file" class="dropify" data-default-file="" accept="video/*"></td>
        <td><i class="fa fa-trash btn btn-sm btn-danger deleteRow"></i></td>
    `;

            newRow.html(rowContent);
            newRow.insertBefore("#addvideotable tbody");

            saveDataToLocalStorage(); // 將資料保存至 localStorage
        });

        // 在頁面載入時檢查 localStorage 中是否有資料並載入
        $(document).ready(function () {
            loadDataFromLocalStorage();
        });
    });

</script>

<script>
    document.getElementById('courseName').addEventListener('blur', function () {
        let courseName = this.value;
        let chineseRegex = /[\u4E00-\u9FFF]/;
        let courseNameError = document.getElementById('courseNameError');
        if (courseName.length < 3 || !chineseRegex.test(courseName)) {
            courseNameError.style.display = 'block';
        } else {
            courseNameError.style.display = 'none';
        }
    });

    document.getElementById('coursePrice').addEventListener('blur', function () {
        let coursePrice = this.value;
        let numberRegex = /^[1-9][0-9]*$/;
        let coursePriceError = document.getElementById('coursePriceError');
        if (!numberRegex.test(coursePrice)) {
            coursePriceError.style.display = 'block';
        } else {
            coursePriceError.style.display = 'none';
        }
    });

    document.getElementById('courseContent').addEventListener('blur', function () {
        let courseContent = this.value;
        let chineseRegex = /[\u4E00-\u9FFF]/;
        let courseContentError = document.getElementById('courseContentError');
        if (courseContent.length < 10 || !chineseRegex.test(courseContent)) {
            courseContentError.style.display = 'block';
        } else {
            courseContentError.style.display = 'none';
        }
    });


    $("#submit").click(function (event) {
        event.preventDefault(); // 阻止表單的自動提交

        let courseName = $("#courseName").val();
        let coursePrice = $("#coursePrice").val();
        let courseContent = $("#courseContent").val();
        let courseImg = $("#courseImg")[0].files[0];
        let nameInputs = document.getElementsByClassName("nameInput");
        let videoFiles = document.getElementsByClassName("dropify");

        // 定義驗證函數
        let isValid = true;
        // 課程名稱驗證
        let chineseRegex = /[\u4E00-\u9FFF]/;
        if (courseName.length < 3 || !chineseRegex.test(courseName)) {
            isValid = false;
            Swal.fire('課程名稱需至少3個字，且必須包含中文字')
        }

        // 課程售價驗證
        let numberRegex = /^[1-9][0-9]*$/;
        if (!numberRegex.test(coursePrice)) {
            isValid = false;
            Swal.fire('課程售價僅能填寫數字，且首位不能為0')
        }

        // 課程介紹驗證
        if (courseContent.length < 10 || !chineseRegex.test(courseContent)) {
            isValid = false;
            alert('課程介紹至少要有10個字，且必須包含中文字。');
        }

        // 課程圖片驗證
        if (!courseImg) {
            isValid = false;
            Swal.fire('要記得上傳課程圖片哦')
        }

        // 影片名稱與影片檔案驗證
        for (let i = 0; i < nameInputs.length; i++) {
            if (nameInputs[i].value === '' || videoFiles[i].files.length === 0) {
                isValid = false;
                Swal.fire('要記得填寫影片名稱跟上傳影片哦')
                break;
            }
        }

        if (!isValid) {
            event.preventDefault();
            return;
        }

        let formData = new FormData();
        formData.append("courseName", courseName);
        formData.append("coursePrice", coursePrice);
        formData.append("courseContent", courseContent);
        formData.append("courseImg", courseImg);
        $('.dropify').each(function () {
            formData.append("videoFiles", $(this)[0].files[0]);
        });

        $('.nameInput').each(function () {
            formData.append("videoNames", $(this).val());
        });

        // formData.append("courseId", $("#course-id").text());

        $.ajax({
            url: "/course/add",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                Swal.fire({
                    title: "新增成功",
                    icon: "success",
                    text: "請等待審核員通過上架",
                    showCancelButton: false,
                    confirmButtonColor: "#EBA038",
                    confirmButtonText: "收到",
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.href = "/course/allcrs";
                    }
                });
            },
            error: function (data) {
                console.log(data);
                Swal.fire({
                    title: "新增失敗",
                    icon: "error",
                    text: "請確認所有欄位都已正確填寫",
                    showCancelButton: false,
                    confirmButtonColor: "#EBA038",
                    confirmButtonText: "好的",
                });
            }
        })
    });

    $('#cancel').on('click', function () {
        location.href = '/course/allcrs';
    });

</script>


</body>

</html>