@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    background: transparent;
    padding: 11px 18px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    cursor: pointer;
    transition: 0.2s;
}

.section-p1 {
    padding: 0px 80px 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}


#close {
    display: none;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 20px;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 5px;
    transition: .2s;
    position: relative;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 5px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 20px;
    transition: 0.2s;
}

#product1 .pro:hover .des h5 {
    color: #fb5800;
}

#product1 .pro .des i {
    color: rgb(240, 177, 18);
    font-size: 12px;
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 20px;
    font-weight: 700;
    color: #ab0000;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #ffffff;
    font-weight: 500;
    color: #ab3c00;
    border: 1px solid #ffffff;
    transition: 0.2s;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#product1 .pro .cart:hover {
    color: #fff;
    background: #ab3c00;
    font-weight: 400;
}


/* ----------------------------------Shop Page------------------------------------------------- */
/* 橫幅 */
#page-header {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url("img/banner/Bernardo_Strozzi_-_Banquet_at_the_House_of_Simon_-_WGA21900.jpg");
    background-size: cover;
    padding: 14px;
}

/* 橫幅 */
#page-header h2,
#page-header p {
    color: #fff;
}

/* 換頁按鈕 */
#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background: #1E1916;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}


/* Single Product */

#prodetails {
    display: flex;
    margin-top: 150px;
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
    padding-top: 10px
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;

}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 10px 0 10px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details button {
    background: #1E1916;
    color: #fff;
}

#prodetails .single-pro-details span {
    line-height: 25px;
}


/* Blog Page */
/* 
#blog {
    padding: 150px 150px 0 150px;
}

#page-header.blog-header {
    background-image: url("img/banner/b19.jpg");
}

#blog .blog-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    top: 4px;
    right: -60px;
    position: absolute;
}

#blog .blog-details a:hover {
    color: #088178;
}

#blog .blog-details a:hover::after {
    background-color: #088178;
}

#blog .blog-box h1 {
    position: absolute;
    font-weight: 700;
    font-size: 70px;
    color: #c9cbce;
    top: -40px;
    left: 0;
    z-index: -9;
} */


/* About Page */
/* 
#page-header.about-header {
    background-image: url("img/about/banner.png");
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head div {
    padding-left: 40px;
}

#about-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#about-app .video {
    width: 70%;
    height: 100%;
    margin-top: 30px;
}

#about-app .video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
} */


/* Contact Page */

/* #contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contact-details .details span,
#form-details span {
    font-size: 12px;
}

#contact-details .details h2,
#form-details h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: #088178;
    color: #fff;
}

#form-details .people div {
    display: flex;
    align-items: flex-start;
    padding-bottom: 25px;
}

#form-details .people img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
} */


/* Cart Page */

#cart {
    overflow-x: auto;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 13px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#cuopon {
    width: 50%;
    margin-bottom: 30px;
}

#cuopon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#cuopon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#cuopon button,
#subtotal button {
    background: #1E1916;
    color: #fff;
    padding: 12px 20px;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}


/* ---------------------------------------------Start Media Query-------------------------------------------  */

@media (max-width:799px) {
    .section-p1 {
        padding: 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
        padding: 80px 0 0 10px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #navbar.active {
        right: 0;
    }

    #mobile {
        display: flex;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #bar {
        display: initial;
    }

    #close {
        display: initial;
        font-size: 24px;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
    }

    #lg-bag,
    #lg-search {
        display: none;
    }

    #hero {
        padding: 0 80px;
        height: 70vh;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
        padding: 30px;
    }

    #banner3 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 28%;
    }

    #newsletter .form {
        width: 70%;
    }

    /* Contact Page */
    /* #form-details {
        padding: 40px;
    }
    #form-details form {
        width: 50%;
    } */
}

@media (max-width:477px) {
    .section-p1 {
        padding: 20px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    #header {
        padding: 10px 30px;
    }

    #hero {
        padding: 0 20px;
        height: 70vh;
        background-position: 55%;
    }

    #feature {
        justify-content: space-between;
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #sm-banner .banner-box {
        height: 40vh;
    }

    #sm-banner .banner-box {
        margin-top: 20px;
    }

    #banner3 {
        padding: 0 20px;
    }

    #banner3 .banner-box {
        width: 100%;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

    footer .copyright {
        text-align: start;
    }

    /* Blog Page */
    /* #blog {
        padding: 100px 20px 20px 20px;
    }
    #blog .blog-box {
        flex-direction: column;
        align-items: flex-start;
    }
    #blog .blog-img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    #blog .blog-details {
        width: 100%;
    }
    #about-app .video {
        width: 100%;
    } */

    /* About Page */
    /* #about-head {
        flex-direction: column;
    }
    #about-head img {
        width: 100%;
    }
    #about-head div {
        padding-top: 20px;
        padding-left: 0px;
    } */


    /* Contact Page */
    /* #contact-details .details {
        width: 100%;
        padding-bottom: 30px;
    }
    #contact-details .map {
        width: 100%;
    }
    #contact-details {
        flex-wrap: wrap;
    }
    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #form-details form {
        width: 100%;
        padding-bottom: 30px;
    } */


    /* Cart Page */
    #cart-add {
        flex-direction: column;
    }

    #cuopon,
    #subtotal {
        width: 100%;
    }

    #subtotal {
        padding: 20px;
    }

    /* SIngle Product */
    #prodetails {
        flex-direction: column;
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details {
        width: 100%;
        padding-top: 30px;
    }
}



/* -------------------------------------------------------------- */
.filter-condition {
    padding: 0 100px 0 0;
    height: 100px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: end;
}

/* .filter-condition span {
    
} */

.filter-condition select {
    width: 120px;
    padding: 0 0 0 10px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 15px;
    background: transparent;
    cursor: pointer;


}