<!doctype html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>後台甜點訂單管理</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="back-nav-bar.css">  -->

    <!-- import font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="/Dessert/CSS/css2.css" rel="stylesheet">

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="/Dessert/CSS/bootstrap-icons.min.css" type="text/css">
    <!-- Bootstrap Docs -->
    <link rel="stylesheet" href="/Dessert/CSS/bootstrap-docs.css" type="text/css">


    <!-- Main style file -->
    <link rel="stylesheet" href="/Dessert/CSS/app.min.css" type="text/css">


    <style>
        #nav-bar {
            background-color: #1E1916;

        }

        .nav-pills {
            --bs-nav-pills-link-active-bg: white;
        }

        :root {
            --bs-link-color: white;
            --bs-link-hover-color: orange;

        }

        a[onclick] {
            cursor: pointer;
        }

        /* 標題列 */
        #mainheader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 80px;
            background: #f8d3ae;
            position: static;
            top: 0;
            left: 0;
            z-index: 999;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nav-link {
            font-size: 20px;
        }

        .dropdown {
            font-size: 20px;
        }

        .dropdown-item {
            font-size: 20px;
        }

        .dropdown-toggle::after {
            color: #1E1916;
        }
    </style>


</head>


<section id="mainheader">

</section>


<div class="row flex-nowrap">

    <!-- 左側選單 -->
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 " id="nav-bar">


    </div>

    <!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

    <div class="col py-3">
        <!-- preloader -->
        <div class="preloader">
            <img src="/Dessert/picture/logo.svg" alt="logo">
            <div class="preloader-icon"></div>
        </div>
        <!-- ./ preloader -->

        <!-- 由此開始 -->
        <div class="content " style="margin-top: 50px;">


            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex gap-4 align-items-center">
                        <div class="d-none d-md-flex">甜點訂單</div>
                        <div class="d-md-flex gap-4 align-items-center">
                            <form class="mb-3 mb-md-0">
                                <div class="row g-3">
                                    <div class="col-md-5">
                                        <select id="statusFilter" class="form-select"
                                                onchange="filterOrdersByStatus(this.value, document.getElementById('memberIdInput').value)">
                                            <option value="">所有訂單</option>
                                            <option value="訂單處理中">訂單處理中</option>
                                            <option value="運送中">運送中</option>
                                            <option value="取消訂單">取消訂單</option>
                                            <option value="訂單完成">訂單完成</option>
                                        </select>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group">
                                           <span class="input-group-text">
                                               <i class="fa-solid fa-magnifying-glass" style="color: #f8d3ae;"></i>
                                                   </span>
                                            <input type="text" class="form-control light-table-filter"
                                                   id="memberIdInput" placeholder="查詢會員帳號" data-table="orders"
                                                   oninput="filterOrdersByMemberId(this.value)">
                                        </div>

                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-custom table-lg mb-0" id="orders">
                    <thead>
                    <tr>

                        <th>訂單編號</th>
                        <th>會員帳號</th>
                        <th>訂單日期</th>
                        <th>訂單總金額</th>
                        <th>訂單狀態</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="dessertOrders">


                    </tbody>

                    </tbody>
                </table>
            </div>

            <nav class="mt-4" aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>


            <!-- 由此結束 -->


            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->

        </div>
    </div>


    <!-- import js -->
    <script>
        function filterOrdersByStatus(status, searchQuery) {
            var table = document.getElementById("orders");
            var rows = table.getElementsByTagName("tr");

            for (var i = 1; i < rows.length; i++) {
                var orderStatus = rows[i].querySelector("td:nth-child(5) span").innerText;
                var memberId = rows[i].querySelector("td:nth-child(2)").innerText.toLowerCase();

                if (
                    (status === "" || status === "訂單狀態" || status === orderStatus) &&
                    (searchQuery === "" || memberId.includes(searchQuery.toLowerCase()) || status === "")
                ) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }

        function filterOrdersByMemberId(memberId) {
            var statusFilter = document.getElementById("statusFilter");
            var selectedStatus = statusFilter.value;

            var table = document.getElementById("orders");
            var rows = table.getElementsByTagName("tr");

            for (var i = 1; i < rows.length; i++) {
                var currentMemberId = rows[i].querySelector("td:nth-child(2)").innerText.toLowerCase();
                var orderStatus = rows[i].querySelector("td:nth-child(5) span").innerText;

                if (
                    (selectedStatus === "" || selectedStatus === "訂單狀態" || selectedStatus === orderStatus) &&
                    (currentMemberId.includes(memberId.toLowerCase()) || memberId === "")
                ) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }

    </script>


    <script src="/Course/JS/Jquery.js"></script>
    <script>
        //顯示訂單
        $(document).ready(function () {
            $.ajax({
                url: '/orders',
                type: 'GET',
                dataType: 'json',
                success: function (res) {
                    console.log(res);
                    let th_html = ``;
                    for (let e in res) {
                        let badgeClass = '';
                        let dessertStatusText = '';
                        switch (res[e].orderStatus) {
                            case 0:
                                badgeClass = 'badge badge-pill bg-primary';
                                dessertStatusText = '訂單處理中';
                                break;
                            case 1:
                                badgeClass = 'badge badge-pill bg-dark';
                                dessertStatusText = '運送中';
                                break;
                            case 2:
                                badgeClass = 'badge badge-pill bg-danger';
                                dessertStatusText = '取消訂單';
                                break;
                            case 3:
                                badgeClass = 'badge badge-pill bg-success';
                                dessertStatusText = '訂單完成';
                                break;
                        }

                        let ordersDate = new Date(res[e].ordersDate);
                        let formattedDate = ordersDate.toLocaleString(undefined, {hour12: true});

                        let td_html = `
                    <tr>
                        <td><a href="#">${res[e].orderId}</a></td>
                        <td>${res[e].memberAC}</td>
                        <td>${formattedDate}</td>
                        <td>${'$' + res[e].cpOrderTotal}</td>
                        <td><span class="${badgeClass}">${dessertStatusText}</span></td>
                        <td>
                            <a onclick="location.href='/orders/edit?ordersId=${res[e].orderId}'" title="編輯訂單資訊">
                                <i class="fas fa-edit fa-lg" style="color: #f8d3ae;"></i>
                            </a>
                            <a onclick="location.href='/orderDetail/get?orderId=${res[e].orderId}'" title="詳細訂單資訊">
                                <i class="fa-solid fa-circle-info fa-xl" style="color: #f8d3ae;"></i>
                            </a>
                        </td>
                    </tr>`;
                        th_html += td_html;
                    }
                    $("#dessertOrders").html(th_html);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error(xhr);
                }
            });
        });
    </script>

   
    <script src="/Conponents/back_end.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>

    <!-- import font awesome -->
    <script src="https://kit.fontawesome.com/3d215f6a1d.js" crossorigin="anonymous"></script>
    <!-- Bundle scripts -->
    <script src="/Dessert/JS/bundle.js"></script>
    <!-- Main Javascript file -->
    <script src="/Dessert/JS/app.min.js"></script>

</div>
</html>