<!doctype html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>後台甜點訂單管理</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="back-nav-bar.css">  -->

    <!-- import font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="/Dessert/CSS/css2.css" rel="stylesheet">

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="/Dessert/CSS/bootstrap-icons.min.css" type="text/css">
    <!-- Bootstrap Docs -->
    <link rel="stylesheet" href="/Dessert/CSS/bootstrap-docs.css" type="text/css">


    <!-- Main style file -->
    <link rel="stylesheet" href="/Dessert/CSS/app.min.css" type="text/css">


    <style>
        #nav-bar {
            background-color: #1E1916;

        }

        .nav-pills {
            --bs-nav-pills-link-active-bg: white;
        }

        :root {
            --bs-link-color: white;
            --bs-link-hover-color: orange;

        }

        a[onclick] {
            cursor: pointer;
        }

        /* 標題列 */
        #mainheader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 80px;
            background: #f8d3ae;
            position: static;
            top: 0;
            left: 0;
            z-index: 999;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nav-link {
            font-size: 20px;
        }

        .dropdown {
            font-size: 20px;
        }

        .dropdown-item {
            font-size: 20px;
        }

        .dropdown-toggle::after {
            color: #1E1916;
        }
    </style>


</head>


<section id="mainheader">
    <span style="font-size: 40px; font-family: serif;">Le Goûter </span>
    <span style="font-size: 40px; font-family: 'Jost', sans-serif;">&nbsp後台管理系統</span>

    <!-- 員工功能小圈圈 -->

    <div class="dropdown" style="position: absolute; right: 30px;">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
           id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/weichen9715/catpic/blob/main/smudge_lord_60314581_2452933891436033_1050250552612724249_n.jpg?raw=true"
                 alt="noimg" width="30" height="30" class="rounded-circle">
            <span class="d-none d-sm-inline mx-1" style="color: #1E1916;">employee</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <!-- <li><a class="dropdown-item" href="#">New project</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li> -->
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>


</section>


<div class="row flex-nowrap">

    <!-- 左側選單 -->
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 " id="nav-bar">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
            <!-- Menu
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline mt-3">Menu</span></a> -->


            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

                <!-- 1 -->
                <li class="nav-item">
                    <a href="#" class="nav-link align-middle px-0">
                        <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                    </a>
                </li>

                <!-- 2 -->
                <li>
                    <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">會員管理系統</span></a>
                    <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                        <li class="w-100">
                            <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">會員權限管理</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">會員資料管理</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">優惠管理</span></a>
                        </li>
                    </ul>
                </li>

                <!-- 3 -->
                <!--
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                        </li>
                    -->

                <!-- 4 -->
                <li>
                    <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">網站管理系統</span></a>
                    <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                        <li class="w-100">
                            <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">即時客服</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">輪播圖管理</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">最新消息管理</span></a>
                        </li>
                    </ul>
                </li>

                <!-- 5 -->
                <li>
                    <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">團購管理系統</span> </a>
                    <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                        <li class="w-100">
                            <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">團購商品管理</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-4"> <span
                                    class="d-none d-sm-inline">團購參與者訂單管理</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">團購方案管理</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">團購活動管理</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">團購分潤管理</span></a>
                        </li>
                    </ul>
                </li>

                <!-- 6 -->
                <!--
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                        </li>
                    -->

                <!-- 7 -->
                <li>
                    <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">課程管理系統</span> </a>
                    <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                        <li class="w-100">
                            <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">課程訂單管理</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">課程資訊審核管理</span></a>
                        </li>
                    </ul>
                </li>

                <!-- 8 -->
                <li>
                    <a href="#submenu5" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">主廚管理</span> </a>
                    <ul class="collapse nav flex-column ms-1" id="submenu5" data-bs-parent="#menu">
                        <li class="w-100">
                            <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">主廚資料管理</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-4"> <span
                                    class="d-none d-sm-inline">課程討論區管理</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">課程資訊管理</span></a>
                        </li>
                    </ul>
                </li>

                <!-- 9 -->
                <li>
                    <a href="#submenu6" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">甜點管理系統</span> </a>
                    <ul class="collapse nav flex-column ms-1" id="submenu6" data-bs-parent="#menu">
                        <li class="w-100">
                            <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">甜點訂單管理</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">甜點商品管理</span></a>
                        </li>
                    </ul>
                </li>

                <!-- 10 -->
                <li>
                    <a href="#submenu7" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                        <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">員工管理系統</span> </a>
                    <ul class="collapse nav flex-column ms-1" id="submenu7" data-bs-parent="#menu">
                        <li class="w-100">
                            <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">員工資料管理</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">員工權限管理</span></a>
                        </li>
                    </ul>
                </li>


            </ul>

            <!-- 員工功能小圈圈 -->

        </div>
    </div>

    <!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

    <div class="col py-3">

        <!-- 由此開始 -->
        <div class="content " style="margin-top: 50px;">


            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex gap-4 align-items-center">
                        <div class="d-none d-md-flex">甜點訂單</div>
                        <div class="d-md-flex gap-4 align-items-center">
                            <form class="mb-3 mb-md-0">
                                <div class="row g-3">
                                    <div class="col-md-5">
                                        <select id="statusFilter" class="form-select"
                                                onchange="filterOrdersByStatus(this.value, document.getElementById('memberIdInput').value)">
                                            <option value="">所有訂單</option>
                                            <option value="訂單處理中">訂單處理中</option>
                                            <option value="運送中">運送中</option>
                                            <option value="取消訂單">取消訂單</option>
                                            <option value="訂單完成">訂單完成</option>
                                        </select>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control light-table-filter"
                                                   id="memberIdInput"
                                                   placeholder="查詢會員id" data-table="orders"
                                                   oninput="filterOrdersByMemberId(this.value)">
                                            <button class="btn btn-outline-light" type="submit">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </button>
                                        </div>


                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-custom table-lg mb-0" id="orders">
                    <thead>
                    <tr>

                        <th>訂單編號</th>
                        <th>會員ID</th>
                        <th>訂單日期</th>
                        <th>訂單總金額</th>
                        <th>訂單狀態</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="dessertOrders">


                    </tbody>

                    </tbody>
                </table>
            </div>

            <nav class="mt-4" aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>


            <!-- 由此結束 -->


            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->

        </div>
    </div>


    <!-- import js -->
    <script>
        function filterOrdersByStatus(status, searchQuery) {
            var table = document.getElementById("orders");
            var rows = table.getElementsByTagName("tr");

            for (var i = 1; i < rows.length; i++) {
                var orderStatus = rows[i].querySelector("td:nth-child(5) span").innerText;
                var memberId = rows[i].querySelector("td:nth-child(2)").innerText.toLowerCase();

                if (
                    (status === "" || status === "訂單狀態" || status === orderStatus) &&
                    (searchQuery === "" || memberId.includes(searchQuery.toLowerCase()) || status === "")
                ) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }

        function filterOrdersByMemberId(memberId) {
            var statusFilter = document.getElementById("statusFilter");
            var selectedStatus = statusFilter.value;

            var table = document.getElementById("orders");
            var rows = table.getElementsByTagName("tr");

            for (var i = 1; i < rows.length; i++) {
                var currentMemberId = rows[i].querySelector("td:nth-child(2)").innerText.toLowerCase();
                var orderStatus = rows[i].querySelector("td:nth-child(5) span").innerText;

                if (
                    (selectedStatus === "" || selectedStatus === "訂單狀態" || selectedStatus === orderStatus) &&
                    (currentMemberId.includes(memberId.toLowerCase()) || memberId === "")
                ) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }

    </script>


    <script src="/Course/JS/Jquery.js"></script>
    <script>
        //顯示訂單
        $(document).ready(function () {
            $.ajax({
                url: '/orders',
                type: 'GET',
                dataType: 'json',
                success: function (res) {
                    console.log(res);
                    let th_html = ``;
                    for (let e in res) {
                        let badgeClass = '';
                        let dessertStatusText = '';
                        switch (res[e].orderStatus) {

                            case 0:
                                badgeClass = 'badge badge-pill bg-primary';
                                dessertStatusText = '訂單處理中';
                                break;
                            case 1:
                                badgeClass = 'badge badge-pill bg-dark';
                                dessertStatusText = '運送中';
                                break;
                            case 2:
                                badgeClass = 'badge badge-pill bg-danger';
                                dessertStatusText = '取消訂單';
                                break;
                            case 3:
                                badgeClass = 'badge badge-pill bg-success';
                                dessertStatusText = '訂單完成';
                                break;
                        }

                        let ordersDate = new Date(res[e].ordersDate);
                        let formattedDate = ordersDate.toLocaleString('zh-TW', {timeZone: 'UTC', hour12: true});


                        let td_html = `
        <tr>
             <td><a href="#">${res[e].orderID}</a></td>
                        <td>${res[e].memberAC}</td>
                        <td>${formattedDate}</td>
                        <td>${res[e].cpOrderTotal}</td>
                       <td><span class="${badgeClass}">${dessertStatusText}</span></td>
                        <td>

<a onclick="location.href='/orders/edit?ordersId=${res[e].orderID}'" title="編輯訂單資訊">
    <i class="fas fa-edit fa-lg" style="color: #f8d3ae;"></i>
</a>


<a onclick="location.href='/orderDetail/get?orderId=${res[e].orderID}'" title="詳細訂單資訊">
    <i class="fa-solid fa-circle-info fa-xl" style="color: #f8d3ae;"></i>
</a>



                        </td> </tr>`;
                        th_html += td_html;
                    }
                    $("#dessertOrders").html(th_html);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error(xhr);
                }
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>

    <!-- import font awesome -->
    <script src="https://kit.fontawesome.com/3d215f6a1d.js" crossorigin="anonymous"></script>


</div>
</html>