<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> 訂單詳細資料 </title>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <!-- <link href="static/css/css2.css" rel="stylesheet"> -->

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="/Dessert/CSS/bootstrap-icons.min.css" type="text/css">

    <!-- Main style file -->
    <link rel="stylesheet" href="/Dessert/CSS/app.min.css" type="text/css">

</head>

<body>

<!-- preloader -->
<div class="preloader">
    <img src="/Dessert/picture/logo.svg" alt="logo">
    <div class="preloader-icon"></div>
</div>
<!-- ./ preloader -->

<!-- sidebars -->


<!-- layout-wrapper -->

<!-- ./ header -->

<!-- content -->
<div class="content ">


    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="mb-5 d-flex align-items-center justify-content-between">
                        <span>訂單編號 : <a th:text="'#' + ${orders.getOrderId()}"></a></span>

                        <span class="badge bg-success">Completed</span>
                    </div>
                    <div class="row mb-5 g-4">
                        <div class="col-md-3 col-sm-6">
                            <p class="fw-bold">訂單日期</p>
                            <p id="orderTime" th:text="${orders.getOrderTime()}"></p>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <p class="fw-bold">收件人</p>
                            <p id="receiverName" th:text="${orders.getReceiverName()}"></p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <p class="fw-bold">Email</p>
                            <p id="receiverEmail" th:text="${orders.getReceiverEmail()}"></p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <p class="fw-bold">聯絡電話</p>
                            <p id="receiverPhone" th:text="${orders.getReceiverPhone()}"></p>
                        </div>
                    </div>
                    <div class="row g-4">
                        <div class="col-md-6 col-sm-12">
                            <div class="card">
                                <div class="card-body d-flex flex-column gap-3">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="mb-0">收件人地址</h5>
                                    </div>
                                    <div id="receiverAddress" th:text="${orders.getReceiverAddress()}"></div>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card widget">
            <h5 class="card-header">訂購甜點品項</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-custom mb-0">
                        <thead>
                        <tr>
                            <th>甜點圖示</th>
                            <th>甜點名稱</th>
                            <th>數量</th>
                            <th>單價</th>
                            <th>小計</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="l : ${orderDetailList}">

                            <td>
                                <a href="#">
                                    <img src="static/picture/3.jpg" class="rounded" width="60" alt="...">
                                </a>
                            </td>
                            <td th:text="${l.getDessertName()}" id="dessertName"></td>
                            <td th:text="${l.getDessertAmount()}" id="dessertAmount"></td>
                            <td th:text="${l.getDessertPrice()}" id="dessertPrice"></td>
                            <td>$1.190,90</td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-12 mt-4 mt-lg-0">
        <div class="card mb-4">
            <div class="card-body">
                <h6 class="card-title mb-4">訂單金額</h6>
                <div class="row justify-content-center mb-3">
                    <div class="col-4 text-end">甜點金額 :</div>
                    <div class="col-4">$1.520,96</div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-4 text-end">運費 :</div>
                    <div class="col-4">Free</div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-4 text-end">折價券 :</div>
                    <div class="col-4">-$27</div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4 text-end">
                        <strong>訂單總金額 :</strong>
                    </div>
                    <div class="col-4">
                        <strong>$1.794,73</strong>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</div>
<!-- ./ content -->


</div>
<!-- ./ layout-wrapper -->

<!-- Bundle scripts -->
<script src="/Dessert/JS/bundle.js"></script>

<!-- Examples -->
<script src="/Dessert/JS/orders.js"></script>

<!-- Main Javascript file -->
<script src="/Dessert/JS/app.min.js"></script>
</body>

</html>