<!DOCTYPE html>
<html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>甜點購物車</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- 客服 -->
    <link rel="stylesheet" type="text/css" href="/CustomerChat/CSS/iconfont.css">

    <link rel="stylesheet" type="text/css" href="/CustomerChat/CSS/chat.css">
    <!-- 客服 -->

    <!--    頁面的CSS-->
    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Dessert/CSS/bootstrap.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="/Dessert/CSS/font.awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/Dessert/CSS/ionicons.min.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="/Dessert/CSS/slick.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="/Dessert/CSS/animate.min.css">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="/Dessert/CSS/jquery-ui.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="/Dessert/CSS/nice-select.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/Dessert/CSS/magnific-popup.css">

    <link href="/Dessert/CSS/all.min.css" rel="stylesheet">
    <!--    頁面css-->


    <link href="/Dessert/CSS/bootstrap1.min.css" rel="stylesheet">

    <link href="/Dessert/CSS/style.css" rel="stylesheet">

    <link rel="stylesheet" href="/Dessert/CSS/stylev.css">
</head>

<body>


<div class="container-fluid top-bar bg-dark text-light px-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="row gx-0 align-items-center d-none d-lg-flex">
        <div class="col-lg-6 px-5 text-start">
            <ol class="breadcrumb mb-0">

            </ol>
        </div>
        <div class="col-lg-6 px-5 text-end">
            <small>Follow us:</small>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn-lg-square text-primary border-end rounded-0" href=""><i
                        class="fab fa-facebook-f"></i></a>
                <a class="btn-lg-square text-primary border-end rounded-0" href=""><i
                        class="fab fa-twitter"></i></a>
                <a class="btn-lg-square text-primary border-end rounded-0" href=""><i
                        class="fab fa-linkedin-in"></i></a>
                <a class="btn-lg-square text-primary pe-0" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div> <!-- 導覽列 -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
    <a href="index1.html" class="navbar-brand ms-4 ms-lg-0">
        <h1 class="text-primary m-0">Le Goûter</h1>
    </a>


    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto p-4 p-lg-0">
            <a href="" class="nav-item nav-link active">首頁</a>
            <a href="" class="nav-item nav-link">最新消息</a>
            <a href="" class="nav-item nav-link">關於我們</a>
            <a href="" class="nav-item nav-link">甜點商城</a>
            <a href="" class="nav-item nav-link">課程專區</a>
            <a href="" class="nav-item nav-link">團購專區</a>
            <a href="" class="nav-item nav-link">會員專區</a>
            <a href="" class="nav-item nav-link">優惠券專區</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">其他</a>
                <div class="dropdown-menu m-0">
                    <a href="" class="dropdown-item">FAQ</a>
                    <a href="" class="dropdown-item">聯絡客服</a>
                </div>
            </div>
        </div>
        <div class=" d-none d-lg-flex">

            <a href="DessertCart.html" class="nav-item nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                     class="bi bi-cart-check" viewBox="0 0 16 16">
                    <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
            </a>


            <div class="flex-shrink-0 btn-lg-square border border-light rounded-circle">
                <i class="fa fa-phone text-primary"></i>
            </div>
            <div class="ps-3">
                <small class="text-primary mb-0">聯絡我們</small>
                <p class="text-light fs-5 mb-0">0912345678</p>
            </div>
        </div>

    </div>
</nav>
<!-- 導覽列結束 -->

<!-- 客服 -->
<div class="chatContainer">
    <div class="chatBtn">
        <i class="iconfont icon-xiaoxi1"></i>
    </div>
    <div class="chatBox" ref="chatBox" style="display: none;">

        <div class="chatBox-head">
            <div class="chatBox-head-one">
                客服及時回覆
                <div class="chat-close" style="margin: 10px 10px 0 0;font-size: 14px">縮小</div>
            </div>
            <div class="chatBox-head-two">
                <div class="chat-return">返回</div>
                <div class="chat-people">
                    <div class="ChatInfoHead">
                        <img src="" alt="头像">
                    </div>
                    <div class="ChatInfoName">这是用户的名字，看看名字到底能有多长</div>
                </div>
                <div class="chat-close">關閉</div>
            </div>
        </div>
        <div class="chatBox-info">
            <div class="chatBox-list" ref="chatBoxlist">
                <div class="chat-list-people">
                    <div><img src="/CustomerChat/picture/icon01.png" alt="头像"></div>
                    <div class="chat-name">
                        <p>客服人員</p>
                    </div>

                </div>

            </div>
            <div class="chatBox-kuang" ref="chatBoxkuang">
                <div class="chatBox-content">
                    <div class="chatBox-content-demo" id="chatBox-content-demo">


                    </div>
                </div>
                <div class="chatBox-send">
                    <div class="div-textarea" contenteditable="true"></div>
                    <div>
                        <button id="chat-biaoqing" class="btn-default-styles">
                            <i class="iconfont icon-biaoqing"></i>
                        </button>
                        <label id="chat-tuxiang" title="发送图片" for="inputImage" class="btn-default-styles">
                            <input type="file" onchange="selectImg(this)" accept="image/jpg,image/jpeg,image/png"
                                   name="file" id="inputImage" class="hidden">
                            <i class="iconfont icon-tuxiang"></i>
                        </label>
                        <button id="chat-fasong" class="btn-default-styles"><i class="iconfont icon-fasong"></i>
                        </button>
                    </div>
                    <div class="biaoqing-photo">
                        <ul>
                            <li><span class="emoji-picker-image" style="background-position: -9px -18px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -18px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -18px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -18px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -18px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -18px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -52px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -52px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -52px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -52px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -52px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -52px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -86px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -86px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -86px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -86px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -86px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -86px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -120px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -120px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -120px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -120px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -120px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -120px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -154px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -154px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -154px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -154px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -154px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -154px;"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 客服 -->
<!-- cart main wrapper start -->

<div class="cart-main-wrapper mt-no-text mb-no-text" style="margin-top: 150px;">
    <div class="container container-default-2 custom-area">
        <div class="row">
            <div class="col-lg-12">
                <!-- Cart Table Area -->
                <p style="display: none" th:text="${memberId}" id="member-id"></p>
                <div class="cart-table table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="pro-thumbnail">甜點圖示</th>
                            <th class="pro-title">甜點名稱</th>
                            <th class="pro-price">單價</th>
                            <th class="pro-quantity">數量</th>
                            <th class="pro-subtotal">小計</th>
                            <th class="pro-remove">移除</th>
                        </tr>
                        </thead>
                        <tbody id="dessertCart">

                        </tbody>
                    </table>
                </div>
                <!-- Cart Update Option -->
                <div class="cart-update-option d-block d-md-flex justify-content-between">
                    <div class="apply-coupon-wrapper">
                        <form action="#" method="post" class="d-block d-md-flex">
                            <select required>
                                <option value="" disabled selected>選擇折價券</option>
                                <option value="coupon1">Coupon 1</option>
                                <option value="coupon2">Coupon 2</option>
                                <option value="coupon3">Coupon 3</option>
                                <!-- 添加更多选项 -->
                            </select>
                            <button class="btn obrien-button primary-btn">提交折價券</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 ml-auto">
                <!-- Cart Calculation Area -->
                <div class="cart-calculator-wrapper">
                    <div class="cart-calculate-items">
                        <h3>應付總金額</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <td>甜點總金額</td>
                                    <td>$230</td>
                                </tr>
                                <tr>
                                    <td>運費</td>
                                    <td>$70</td>
                                </tr>
                                <tr>
                                    <td>折扣金額</td>
                                    <td>-$70</td>
                                </tr>
                                <tr class="total">
                                    <td>應付總額</td>
                                    <td class="total-amount">$300</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <a href="checkout.html" class="btn obrien-button primary-btn d-block">立即付款</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- cart main wrapper end -->
<!-- footer start -->
<div class="container-fluid bg-dark text-light footer my-6 mb-0 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">粉絲專頁</h4>

                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-0" href=""><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">關於我們</h4>
                <a class="btn btn-link" href="">認識Le Goûter</a>
                <a class="btn btn-link" href="">最新消息</a>
                <a class="btn btn-link" href="">甜點商城</a>
                <a class="btn btn-link" href="">課程專區</a>
                <a class="btn btn-link" href="">團購專區</a>
                <a class="btn btn-link" href="">服務條款</a>
                <a class="btn btn-link" href="">隱私政策</a>
                <a class="btn btn-link" href="">聯絡我們</a>
            </div>

            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">常見問題</h4>
                <a class="btn btn-link" href="">註冊登入</a>
                <a class="btn btn-link" href="">FAQ</a>
                <a class="btn btn-link" href="">回報客服</a>
                <a class="btn btn-link" href="">購物須知</a>
                <a class="btn btn-link" href="">退款政策</a>
            </div>

            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4"></h4>
                <div class="row g-2">
                    <div class="col-4">
                        <img class="img-fluid bg-light rounded p-1" src="static/picture/product-1.jpg" alt="Image">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light rounded p-1" src="static/picture/product-2.jpg" alt="Image">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light rounded p-1" src="static/picture/product-3.jpg" alt="Image">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light rounded p-1" src="static/picture/product-2.jpg" alt="Image">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light rounded p-1" src="static/picture/product-3.jpg" alt="Image">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light rounded p-1" src="static/picture/product-1.jpg" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer end -->
<!--購物車-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let cartClassItems;

    function removeProduct(event) {
        event.preventDefault(); // 阻止預設的連結點擊行為

        var confirmation = confirm("確認移除商品?"); // 確認移除商品

        if (confirmation) {
            var row = event.target.closest("tr"); // 找到最接近的父元素 <tr>


            //獲取商品id
            var dessertId = row.getAttribute("data-dessert-id");

            console.log(dessertId);

            // 發送請求到後端
            deleteDessertCart(dessertId);

            row.remove(); // 移除該行
        }
    }

    function deleteDessertCart(dessertId) {
        $.ajax({
            url: '/dessertCart/delete',
            type: 'POST',
            data: {
                dessertId: dessertId
            },
            success: function (response) {
                console.log("Product removed successfully.");
            },
            error: function (xhr, textStatus, errorThrown) {
                console.error(xhr);
            }
        });


    }

    dessertCartUpdate();

    function dessertCartUpdate() {
        //顯示訂單
        $(document).ready(function () {
            let memberId = $("#member-id").text();
            $.ajax({
                url: `/dessertCart/get/${memberId}`,
                type: 'GET',
                dataType: 'json',
                success: function (res) {
                    console.log(res);
                    cartClassItems = res;
                    let th_html = ``;
                    console.log(th_html);
                    for (let e = 0; e < res.length; e++) {
                        let td_html = `
                      <tr data-dessert-id="${res[e].dessertId}">
                         <td>
                        <img src="/dessert5/image0?dessertId=${res[e].dessertId}" alt="#" style="width: 640px;">
                            </td>
                             <td class="pro-title"><a href="#">${res[e].dessertName}</a></td>
                            <td class="pro-price"><span>${res[e].dessertPrice}</span></td>
                            <td class="pro-quantity">
                                <div class="quantity">
                                    <div class="cart-plus-minus">
                                      <input class="cart-plus-minus-box" onchange="updateDessertCartQuantity(${res[e].dessertId}, ${res[e].memberId}, this.value)" value="${res[e].cartDessertQuantity}" type="text">
                                      <div class="dec qtybutton" onclick="updateDessertCartQuantity(${res[e].dessertId}, ${res[e].memberId},  parseInt($(this).siblings('.cart-plus-minus-box').val())  - 1, $(this))">-</div>
                                      <div class="inc qtybutton" onclick="updateDessertCartQuantity(${res[e].dessertId}, ${res[e].memberId}, parseInt($(this).siblings('.cart-plus-minus-box').val()) + 1, $(this))">+</div>
                                    </div>
                                </div>
                            </td>
                        <td class="pro-subtotal"><span>${res[e].subtotalAmount}</span></td>

                        <td class="pro-remove"><a href="#" onclick="removeProduct(event)"><i
                                    class="ion-trash-b"></i></a></td>
                    </tr>`;
                        th_html += td_html;
                    }
                    $("#dessertCart").html(th_html);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error(xhr);
                }
            });
        });
    }

    function updateDessertCartQuantity(dessertId, memberId, cartDessertQuantity, increaseBtn) {
        $(increaseBtn).siblings(".cart-plus-minus-box").val(cartDessertQuantity);
        $.ajax({
            url: '/dessertCart/update',
            type: 'POST',
            data: {
                dessertId: dessertId,
                memberId: memberId,
                cartDessertQuantity: cartDessertQuantity
            },
            success: function (response) {
                // Update the subtotal dynamically
                let newSubtotal = response.subtotalAmount;
                $(increaseBtn).closest("tr").find(".pro-subtotal span").text(newSubtotal);
            },
            error: function (xhr, textStatus, errorThrown) {
                console.error(xhr);
            }
        });
    }

</script>


<script data-cfasync="false" src="/Dessert/JS/SAM/email-decode.min.js"></script>
<script src="/Dessert/JS/SAM/main.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<script src="/Dessert/JS/SAM/rocket-loader.min.js" data-cf-settings="0080e6b992b21508d4c0eeae-|49" defer=""></script>


<!-- JS
============================================ -->


<!-- jQuery Migrate JS -->
<script src="/Dessert/JS/jQuery-migrate-3.3.0.min.js"></script>
<!-- Modernizer JS -->
<script src="/Dessert/JS/modernizr-2.8.3.min.js"></script>
<!-- Bootstrap JS -->
<script src="/Dessert/JS/bootstrap.bundle.min.js"></script>
<!-- Slick Slider JS -->
<script src="/Dessert/JS/slick.min.js"></script>
<!-- Countdown JS -->
<script src="/Dessert/JS/jquery.countdown.min.js"></script>
<!-- Ajax JS -->
<script src="/Dessert/JS/jquery.ajaxchimp.min.js"></script>
<!-- Jquery Nice Select JS -->
<script src="/Dessert/JS/jquery.nice-select.min.js"></script>
<!-- Jquery Ui JS -->
<script src="/Dessert/JS/jquery-ui.min.js"></script>
<!-- jquery magnific popup js -->
<script src="/Dessert/JS/jquery.magnific-popup.min.js"></script>

<!-- Main JS -->
<script src="/Dessert/JS/main.js"></script>

<!-- 客服 -->
<script src="/CustomerChat/JS/jquery.min.js"></script>
<script>

    screenFuc();

    function screenFuc() {
        var topHeight = $(".chatBox-head").innerHeight();//聊天头部高度
        //屏幕小于768px时候,布局change
        var winWidth = $(window).innerWidth();
        if (winWidth <= 768) {
            var totalHeight = $(window).height(); //页面整体高度
            $(".chatBox-info").css("height", totalHeight - topHeight);
            var infoHeight = $(".chatBox-info").innerHeight();//聊天头部以下高度
            //中间内容高度
            $(".chatBox-content").css("height", infoHeight - 46);
            $(".chatBox-content-demo").css("height", infoHeight - 46);

            $(".chatBox-list").css("height", totalHeight - topHeight);
            $(".chatBox-kuang").css("height", totalHeight - topHeight);
            $(".div-textarea").css("width", winWidth - 106);
        } else {
            $(".chatBox-info").css("height", 495);
            $(".chatBox-content").css("height", 448);
            $(".chatBox-content-demo").css("height", 448);
            $(".chatBox-list").css("height", 495);
            $(".chatBox-kuang").css("height", 495);
            $(".div-textarea").css("width", 260);
        }
    }

    (window.onresize = function () {
        screenFuc();
    })();
    //未读信息数量为空时
    var totalNum = $(".chat-message-num").html();
    if (totalNum == "") {
        $(".chat-message-num").css("padding", 0);
    }
    $(".message-num").each(function () {
        var wdNum = $(this).html();
        if (wdNum == "") {
            $(this).css("padding", 0);
        }
    });


    //打开/关闭聊天框
    $(".chatBtn").click(function () {
        $(".chatBox").toggle(10);
    })
    $(".chat-close").click(function () {
        $(".chatBox").toggle(10);
    })
    //进聊天页面
    $(".chat-list-people").each(function () {
        $(this).click(function () {
            var n = $(this).index();
            $(".chatBox-head-one").toggle();
            $(".chatBox-head-two").toggle();
            $(".chatBox-list").fadeToggle();
            $(".chatBox-kuang").fadeToggle();

            //传名字
            $(".ChatInfoName").text($(this).children(".chat-name").children("p").eq(0).html());

            //传头像
            $(".ChatInfoHead>img").attr("src", $(this).children().eq(0).children("img").attr("src"));

            //聊天框默认最底部
            $(document).ready(function () {
                $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
            });
        })
    });

    //返回列表
    $(".chat-return").click(function () {
        $(".chatBox-head-one").toggle(1);
        $(".chatBox-head-two").toggle(1);
        $(".chatBox-list").fadeToggle(1);
        $(".chatBox-kuang").fadeToggle(1);
    });

    //      发送信息
    $("#chat-fasong").click(function () {
        var textContent = $(".div-textarea").html().replace(/[\n\r]/g, '<br>')
        if (textContent != "") {
            var currentDate = new Date();
            var currentDateTimeString = formatDate(currentDate);
            $(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
                "<div class=\"author-name\"><small class=\"chat-date\">" + currentDateTimeString + "</small> </div> " +
                "<div class=\"right\"> <div class=\"chat-message\"> " + textContent + " </div> " +
                "<div class=\"chat-avatars\"><img src=\"img/customer.png\" alt=\"头像\" /></div> </div> </div>");

            //发送后清空输入框
            $(".div-textarea").html("");
            //聊天框默认最底部
            $(document).ready(function () {
                $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
            });
        }
    });

    function formatDate(date) {
        var year = date.getFullYear();
        var month = addLeadingZero(date.getMonth() + 1);
        var day = addLeadingZero(date.getDate());
        var hours = addLeadingZero(date.getHours());
        var minutes = addLeadingZero(date.getMinutes());
        var seconds = addLeadingZero(date.getSeconds());
        return year + "-" + month + "-" + day + " " + hours + ":" + minutes + ":" + seconds;
    }

    function addLeadingZero(number) {
        if (number < 10) {
            return "0" + number;
        }
        return number;
    }


    //      发送表情
    $("#chat-biaoqing").click(function () {
        $(".biaoqing-photo").toggle();
    });
    $(document).click(function () {
        $(".biaoqing-photo").css("display", "none");
    });
    $("#chat-biaoqing").click(function (event) {
        event.stopPropagation();//阻止事件
    });

    $(".emoji-picker-image").each(function () {
        $(this).click(function () {
            var bq = $(this).parent().html();
            var currentDate = new Date();
            var formattedDate = formatDate(currentDate);

            $(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
                "<div class=\"author-name\"><small class=\"chat-date\">" + formattedDate + "</small> </div> " +
                "<div class=\"right\"> <div class=\"chat-message\"> " + bq + " </div> " +
                "<div class=\"chat-avatars\"><img src=\"img/customer.png\" alt=\"头像\" /></div> </div> </div>");

            // 发送后关闭表情框
            $(".biaoqing-photo").toggle();
            // 聊天框默认最底部
            $(document).ready(function () {
                $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
            });
        })
    });


    //      发送图片
    function selectImg(pic) {
        if (!pic.files || !pic.files[0]) {
            return;
        }
        var reader = new FileReader();
        reader.onload = function (evt) {
            var images = evt.target.result;
            var currentDate = new Date();
            var formattedDate = formatDate(currentDate);

            $(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
                "<div class=\"author-name\"><small class=\"chat-date\">" + formattedDate + "</small> </div> " +
                "<div class=\"right\"> <div class=\"chat-message\"><img src=" + images + "></div> " +
                "<div class=\"chat-avatars\"><img src=\"img/customer.png\" alt=\"头像\" /></div> </div> </div>");

            // 聊天框默认最底部
            $(document).ready(function () {
                $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
            });
        };
        reader.readAsDataURL(pic.files[0]);
    }
</script>


<!-- 客服 -->
</body>

</html>