<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> 我的甜點訂單 </title>


    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="/Dessert/CSS/css2.css" rel="stylesheet">

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="/Dessert/CSS/bootstrap-icons.min.css" type="text/css">
    <!-- Bootstrap Docs -->
    <link rel="stylesheet" href="/Dessert/CSS/bootstrap-docs.css" type="text/css">


    <!-- Main style file -->
    <link rel="stylesheet" href="/Dessert/CSS/app.min.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="/Commom/css/css2.css" rel="stylesheet">

    <link href="/Commom/css/all.min.css" rel="stylesheet">
    <link href="/Commom/css/bootstrap-icons.css" rel="stylesheet">

    <link href="/Commom/css/animate.min.css" rel="stylesheet">
    <link href="/Commom/css/owl.carousel.min.css" rel="stylesheet">

    <link href="/Commom/css/bootstrap.min.css" rel="stylesheet">

    <link href="/Commom/css/style.css" rel="stylesheet">

    <style>
        ul {
            list-style-type: none;
            /* 刪除點點 */
        }
    </style>


</head>

<body>
<div id="header-div"></div>


<div id="nav-div"></div>

<!-- preloader -->
<div class="preloader">
    <img src="/Dessert/picture/logo.svg" alt="logo">
    <div class="preloader-icon"></div>
</div>
<!-- ./ preloader -->


<!-- layout-wrapper -->
<div class="layout-wrapper">


    <!-- ./ header -->

    <!-- content -->
    <div class="content" style="margin-top: 100px;">

        <div class="row">
            <div class="col-md-8">
                <h5 class="card-header" th:text="${memName} + ' 甜點訂單'"></h5>
                <div class="col-md-5 mt-3">
                    <select id="statusFilter" class="form-select custom-select">
                        <option value="">所有訂單</option>
                        <option value="訂單處理中">訂單處理中</option>
                        <option value="運送中">運送中</option>
                        <option value="取消訂單">取消訂單</option>
                        <option value="訂單完成">訂單完成</option>
                    </select>
                </div>

                <div th:each="order : ${orders}">
                    <div class="card widget mb-4 bg-white" data-status="${order.getStatusName()}">

                        <div class="card-body">
                            <div class="d-flex gap-4 align-items-center" data-bs-toggle="collapse" aria-expanded="false"
                                 th:data-bs-target="'#order-' + ${order.orderId}" role="button">


                                <td class="flex-fill">
                                    <a href="#" th:text="'#'+${order.orderId}"></a>
                                </td>

                                <div class="flex-fill">
                                    <strong th:id="'orderTime-' + ${order.orderId}"
                                            th:text="'訂單時間：' + ${order.orderTime}"></strong>
                                </div>


                                <div class="flex-fill">
                                    <strong th:text=" '訂單總金額$：'+${order.orderTotal}"></strong>

                                </div>
                                <td class="flex-fill">
                                     <span th:text="${order.getStatusName()}"
                                           th:class="${order.getStatusClass()}"></span>

                                </td>

                                <td>
                                    <i class="fa-solid fa-circle-info fa-xl" style="color: #f8d3ae; cursor: pointer;"
                                       th:title="詳細訂單資訊"
                                       th:onclick="|location.href='/memOrderDetail/get?orderId=' + ${order.orderId}|"></i>
                                </td>


                                <i class="fa-solid fa-chevron-down"></i>
                            </div>

                            <div class="collapse mt-4" th:id="'order-' + ${order.orderId}">
                                <hr class="mb-0">
                                <div class="table-responsive">
                                    <table class="table table-custom mb-0">
                                        <thead>
                                        <tr>
                                            <th>甜點圖片</th>
                                            <th>甜點名稱</th>
                                            <th>數量</th>
                                            <th>價格</th>
                                            <th>小計</th>
                                            <!--                                            <th>評價</th>-->
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr th:each="M : ${dessertDetailsMap[__${order.orderId}__]}">
                                            <td>
                                                <img th:src="@{/dessert5/image0(dessertId=${M.getDessertId()})}"
                                                     class="rounded" width="70">
                                            </td>

                                            <td th:text=" ${M.getDessertName()}">
                                            </td>

                                            <td th:text="${M.getDessertAmount()}"></td>
                                            <td th:text="${M.getDessertPrice()}"></td>
                                            <td th:text="'$' + ${M.getDessertAmount() * M.getDessertPrice()}"></td>
                                            <!--                                            <td>-->
                                            <!--                                                <a onclick="toggleRating(this)" title="甜點評價"-->
                                            <!--                                                   style="cursor: pointer; text-decoration: none;">-->
                                            <!--                                                    <i class="fa-solid fa-cake-candles fa-lg"-->
                                            <!--                                                       style="color: #f8d3ae;"></i>-->
                                            <!--                                                </a>-->

                                            <!--                                                <div class="block" style="display: none;">-->
                                            <!--                                                    <ul>-->
                                            <!--                                                        <li data-default-index="0">-->
                                            <!--                                                                <span>-->
                                            <!--                                                                    <img src="/Dessert/picture/x1.png">-->
                                            <!--                                                                   <img src="/Dessert/picture/x1.png">-->
                                            <!--                                                                  <img src="/Dessert/picture/x1.png">-->
                                            <!--                                                                   <img src="/Dessert/picture/x1.png">-->
                                            <!--                                                                   <img src="/Dessert/picture/x1.png">-->
                                            <!--                                                                </span>-->
                                            <!--                                                            <em class="level"></em>-->
                                            <!--                                                        </li>-->
                                            <!--                                                    </ul>-->
                                            <!--                                                </div>-->
                                            <!--                                            </td>-->
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer-div"></div>

<div id="copyright-div"></div>

<script type="text/javascript" src="/Dessert/JS/jquery.min.js"></script>
<script src="/Course/JS/Jquery.js"></script>
<script>
    document.getElementById('statusFilter').addEventListener('change', function (e) {
        var selectedStatus = e.target.value;

        console.log('Selected status: ' + selectedStatus); // new line

        var orders = document.getElementsByClassName('card widget mb-4 bg-white');

        for (var i = 0; i < orders.length; i++) {
            var order = orders[i];

            var orderStatus = order.getAttribute('data-status');

            console.log('Order status: ' + orderStatus); // new line

            if (selectedStatus === '' || orderStatus === selectedStatus) {
                order.style.display = '';
            } else {
                order.style.display = 'none';
            }
        }
    });


</script>

<!--    //以下是評價星星的功能，暫時無法實現-->
<!--<script>-->
<!--    function toggleRating(button) {-->
<!--        var ratingSection = button.nextElementSibling;-->
<!--        ratingSection.style.display = (ratingSection.style.display === "none") ? "block" : "none";-->
<!--    }-->
<!--</script>-->
<!--<script type="text/javascript">-->

<!--    //  星星数量-->
<!--    var stars = [-->
<!--        ['x2.png', 'x1.png', 'x1.png', 'x1.png', 'x1.png'],-->
<!--        ['x2.png', 'x2.png', 'x1.png', 'x1.png', 'x1.png'],-->
<!--        ['x2.png', 'x2.png', 'x2.png', 'x1.png', 'x1.png'],-->
<!--        ['x2.png', 'x2.png', 'x2.png', 'x2.png', 'x1.png'],-->
<!--        ['x2.png', 'x2.png', 'x2.png', 'x2.png', 'x2.png'],-->
<!--    ];-->
<!--    $(".block li").find("img").hover(function (e) {-->
<!--        var obj = $(this);-->
<!--        var index = obj.index();-->
<!--        if (index < (parseInt($(".block li").attr("data-default-index")) - 1)) {-->
<!--            return;-->
<!--        }-->
<!--        var li = obj.closest("li");-->
<!--        var star_area_index = li.index();-->
<!--        for (var i = 0; i < 5; i++) {-->
<!--            li.find("img").eq(i).attr("src", "img/" + stars[index][i]);//切换每个星星-->
<!--        }-->
<!--        $(".level").html(byIndexLeve(index));-->
<!--    }, function () {-->
<!--    })-->

<!--    $(".block li").hover(function (e) {-->
<!--    }, function () {-->
<!--        var index = $(this).attr("data-default-index");//点击后的索引-->
<!--        index = parseInt(index);-->
<!--        console.log("index", index);-->
<!--        $(".level").html(byIndexLeve(index - 1));-->
<!--        console.log(byIndexLeve(index - 1));-->
<!--        $(".order-evaluation ul li:eq(0)").find("img").attr("src", "/Dessert/picture/x1.png");-->
<!--        for (var i = 0; i < index; i++) {-->

<!--            $(".order-evaluation ul li:eq(0)").find("img").eq(i).attr("src", "/Dessert/picture/x2.png");-->
<!--        }-->
<!--    })-->
<!--    $(".block li").find("img").click(function () {-->
<!--        var obj = $(this);-->
<!--        var li = obj.closest("li");-->
<!--        var star_area_index = li.index();-->
<!--        var index1 = obj.index();-->
<!--        li.attr("data-default-index", (parseInt(index1) + 1));-->
<!--        var index = $(".block li").attr("data-default-index");//点击后的索引-->
<!--        index = parseInt(index);-->
<!--        console.log("index", index);-->
<!--        $(".level").html(byIndexLeve(index - 1));-->
<!--        console.log(byIndexLeve(index - 1));-->
<!--        $(".order-evaluation ul li:eq(0)").find("img").attr("src", "/Dessert/picture/x1.png");-->
<!--        for (var i = 0; i < index; i++) {-->
<!--            $(".order-evaluation ul li:eq(0)").find("img").eq(i).attr("src", "/Dessert/picture/x2.png");-->
<!--        }-->

<!--    });-->

<!--</script>-->
<script src="/Conponents/front_end.js"></script>
<script data-cfasync="false" src="/Commom/js/email-decode.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="/Commom/js/bootstrap.bundle.min.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<script src="/Commom/js/wow.min.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<script src="/Commom/js/easing.min.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<script src="/Commom/js/waypoints.min.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<script src="/Commom/js/counterup.min.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<script src="/Commom/js/owl.carousel.min.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<script src="/Commom/js/main.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<!--<script src="/Commom/js/rocket-loader.min.js" data-cf-settings="0080e6b992b21508d4c0eeae-|49" defer=""></script>-->
<!-- ./ layout-wrapper -->

<!-- Bundle scripts -->
<script src="/Dessert/JS/bundle.js"></script>

<!-- Apex chart -->
<script src="/Dessert/JS/apexcharts.min.js"></script>

<!-- Examples -->
<script src="/Dessert/JS/buyer-dashboard.js"></script>

<!-- Main Javascript file -->
<script src="/Dessert/JS/app.min.js"></script>

<!-- import font awesome -->
<script src="https://kit.fontawesome.com/3d215f6a1d.js" crossorigin="anonymous"></script>
</body>

</html>

