<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>恭喜訂購成功</title>

    <!-- Themify icons -->
    <link rel="stylesheet" href="/Dessert/CSS/themify-icons.css" type="text/css">

    <!-- Main style file -->
    <link rel="stylesheet" href="/Dessert/CSS/app.min.css" type="text/css">


</head>

<body class="auth">

<!-- preloader -->
<div class="preloader">
    <img src="/Dessert/picture/logo.svg" alt="logo">
    <div class="preloader-icon"></div>
</div>
<!-- ./ preloader -->


<div class="form-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="card py-0 py-lg-4">
                    <div class="row">
                        <div class="col align-items-center justify-content-between flex-column text-center">
                            <h1 class="text-primary m-0">Le Goûter</h1>
                            <div class="display-8 mb-4">恭喜結帳成功 😉</div>
                            <p class="mb-4">我們會盡快將您的甜點出貨</p>
                            <div class="row my-5">
                                <div class="col-3 m-auto">
                                    <img class="img-fluid" src="/Dessert/picture/congratulations.svg" alt="...">
                                </div>
                            </div>
                            <button class="btn btn-primary" onclick="redirectToShop()">繼續尋覓甜點</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bundle scripts -->
<script src="/Dessert/JS/bundle.js"></script>

<!-- Main Javascript file -->
<script src="/Dessert/JS/app.min.js"></script>
<script>function redirectToShop() {
    window.location.href = "/dessertshop/shopAndproduct/shop.html";
}
</script>
</body>

</html>