<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>團購商品管理</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="back-nav-bar.css">  -->

    <!-- import font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">


    <style>
        #nav-bar {
            background-color: #1E1916;

        }

        .nav-pills {
            --bs-nav-pills-link-active-bg: white;
        }

        :root {
            --bs-link-color: white;
            --bs-link-hover-color: orange;

        }

        /* 標題列 */
        #mainheader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 80px;
            background: #f8d3ae;
            position: static;
            top: 0;
            left: 0;
            z-index: 999;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nav-link {
            font-size: 20px;
        }

        .dropdown {
            font-size: 20px;
        }

        .dropdown-item {
            font-size: 20px;
        }

        .dropdown-toggle::after {
            color: #1E1916;
        }


        /* 以下團購商品修改資料添加 */

        .inpproduct {
            display: block;
            margin-top: 10px;
        }

        #textarea {
            resize: none;
        }

        /* 以上團購商品修改資料添加 */
    </style>


</head>

<body>


    <section id="mainheader">
       
    </section>


    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 " id="nav-bar">
                
                
            </div>

            <!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

            <div class="col py-3">

                <!-- 由此開始 -->

                <div>
                    <H4>團購商品資料修改</H4>
                </div>
                <div>
                    <label class="inpproduct">團購商品編號：<input type="text" id="productid" name="groupProductId" th:value="${groupProductVO.getGroupProductId()}" readonly></label>
                    <label class="inpproduct">團購商品名稱：<input type="text" id="productname" name="groupProductName" th:value="${groupProductVO.getGroupProductName()}" required></label>
                    <label class="inpproduct">團購商品內容：<input type="text" id="textarea" name="groupProductContent" th:value="${groupProductVO.getGroupProductContent()}" maxlength="300" required style="width: 300px; height: 125px;"></label>
                    <!-- <textarea class="inpproduct" id="textarea" name="groupProductContent" cols="50" rows="8" maxlength="300" placeholder="輸入團購商品內容" required></textarea> -->
                    <label class="inpproduct">團購商品價格：<input type="number" id="productprice" name="groupProductPrice" th:value="${groupProductVO.getGroupProductPrice()}" required></label>
                    <label class="inpproduct">團購商品上架時間：<input type="date" id="productstardate" name="groupProductStardate" th:value="${groupProductVO.getGroupProductStardate()}" placeholder="yyyy-mm-dd" readonly></label>
                    <label class="inpproduct">團購商品下架時間：<input type="date" id="ProductEnddate" name="groupProductEnddate" th:value="${groupProductVO.getGroupProductEnddate()}" placeholder="yyyy-mm-dd" readonly></label>
                    <select class="inpproduct" id="productstatus" name="groupProductStatus">
                        <option value="1" selected="true">上架</option>
                        <option value="0">下架</option>
                    </select>
                    <label class="inpproduct">圖片</label>
                    <form enctype="multipart/form-data" id="imageform">
                        <div>
                            <input type="file" class="getimg" accept="image/*" style="margin-top: 10px;" id="uploadimg0">
                            <img th:src="@{/groupProduct/get/img/{groupProductId}(groupProductId=${groupProductVO.getGroupProductId()})}" alt="預設圖片" width="360px" height="270px">
                        </div>
                        <div>
                            <input type="file" class="getimg" accept="image/*" style="margin-top: 10px;" id="uploadimg1">
                        </div>
                        <div>
                            <input type="file" class="getimg" accept="image/*" style="margin-top: 10px;" id="uploadimg2">
                        </div>
                        <div>
                            <input type="file" class="getimg" accept="image/*" style="margin-top: 10px;" id="uploadimg3">
                        </div>
                    </form>
                    <!-- <input type="file" style="margin-top: 10px;">
                    <input type="file" style="margin-top: 10px;">
                    <input type="file" style="margin-top: 10px;"> -->
                    <button type="button" id="btnupdata" style="margin-top: 10px; display: block;">修改</button>
                    <form action="/group-product-manage">
                    <button type="submit" id="btnback" style="margin-top: 10px; display: block;">取消</button>
                    </form>
                 </div>  

                <!-- 由此結束 -->
            </div>

            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->

        </div>
    </div>







    <!-- import js -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <!-- import font awesome -->
    <script src="https://kit.fontawesome.com/3d215f6a1d.js" crossorigin="anonymous"></script>


    <script src="/Conponents/back_end.js"></script>
    <!-- 團購商品管理添加 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script>
       $("#btnupdata").on("click", function() {
        let formdata = new FormData;
        let groupProductId = $("#productid").val();
          let groupProductName = $("#productname").val();
          let groupProductContent = $("#textarea").val();
          let groupProductPrice= $("#productprice").val();
          let groupProductStardate = $("#productstardate").val();
          let groupProductEnddate = $("#ProductEnddate").val();
          console.log("下架日期的值:" + $("#ProductEnddate").val());
          if($("#productstatus").val() === 0){
            let dateobj = new Date();
            let today = dateobj.getFullYear() + "-" + (dateobj.getMonth() + 1) + "-" + dateobj.getDate();
            groupProductEnddate = today;
          }
          let groupProductStatus = $("#productstatus").val();
          let imageform = $("#imageform");
          console.log("觀察取得的FORM資料:" + imageform);
          let imageInputs = imageform.find("input[type='file']"); // 選取4個檔案輸入元素
          formdata.append("groupProductId", groupProductId);
          formdata.append("groupProductName", groupProductName);
          formdata.append("groupProductContent", groupProductContent);
          formdata.append("groupProductPrice", groupProductPrice);
          formdata.append("groupProductStardate", groupProductStardate);
          formdata.append("groupProductEnddate", groupProductEnddate);
          formdata.append("groupProductStatus", groupProductStatus);
          //   將每個檔案存到 formData
          for (let i = 0; i < imageInputs.length; i++) {
                let files = imageInputs[i].files[0];
                console.log("for迴圈當下的files:" + files);
  
              //   存入formdata
            //   let setname = "file" + i;
                // console.log("每個名稱:" + setname);
                formdata.append(i, files);
            }
            // **************施工中-看來還需要圖片的PK阿**************
        $.ajax({
            url: "/group-product/updata-the2",
            type: "POST",
            contentType: false,
            processData: false,
            data: formdata,
            success: function(response) {
                alert("修改成功");
                location.reload();
            }


        });
       });
    </script>

</body>

</html>