<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Le Goûter</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="/Commom/css/css2.css" rel="stylesheet">

    <link href="/Commom/css/all.min.css" rel="stylesheet">
    <link href="/Commom/css/bootstrap-icons.css" rel="stylesheet">

    <link href="/Commom/css/animate.min.css" rel="stylesheet">
    <link href="/Commom/css/owl.carousel.min.css" rel="stylesheet">

    <link href="/Commom/css/bootstrap.min.css" rel="stylesheet">

    <link href="/Commom/css/style.css" rel="stylesheet">
</head>

<body>
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>


<div class="container-fluid top-bar bg-dark text-light px-0 wow fadeIn" data-wow-delay="0.1s" id="header-div">

</div>

<!-- 導覽列 -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s" id="nav-bar">

</nav>

<div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s" id="carousel-div">

</div>


<!-- 頁腳 -->
<div class="container-fluid bg-dark text-light footer my-6 mb-0 py-5 wow fadeIn" data-wow-delay="0.1s" id="footer-div">

</div>

<!-- 版權所有 -->
<div class="container-fluid copyright text-light py-4 wow fadeIn" data-wow-delay="0.1s" id="copyright-div">

</div>

<script data-cfasync="false" src="/Commom/js/email-decode.min.js"></script>
<script src="/Commom/js/jquery-3.4.1.min.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<script src="/Commom/js/bootstrap.bundle.min.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<script src="/Commom/js/wow.min.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<script src="/Commom/js/easing.min.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<script src="/Commom/js/waypoints.min.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<script src="/Commom/js/counterup.min.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<script src="/Commom/js/owl.carousel.min.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>

<script src="/Commom/js/main.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<script src="/Commom/js/rocket-loader.min.js" data-cf-settings="0080e6b992b21508d4c0eeae-|49" defer=""></script>

<script src="/Member/Sam_Js/LoadConponents.js"></script>

</body>

</html>