<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Le Goûter</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="/Commom/css/css2.css" rel="stylesheet">

    <link href="/Commom/css/all.min.css" rel="stylesheet">
    <link href="/Commom/css/bootstrap-icons.css" rel="stylesheet">

    <link href="/Commom/css/animate.min.css" rel="stylesheet">
    <link href="/Commom/css/owl.carousel.min.css" rel="stylesheet">

    <link href="/Commom/css/bootstrap.min.css" rel="stylesheet">

    <link href="/Commom/css/style.css" rel="stylesheet">
</head>

<body>
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>

<!-- 頁首 -->
<div th:insert="front-end/components/Header :: #header-div"></div>


<!-- 導覽列 -->
<div th:insert="front-end/components/NavBar :: #nav-bar"></div>

<!-- 輪播圖 -->
<div th:insert="front-end/components/Carousel :: #carousel-div"></div>

<!-- 頁腳 -->
<div th:insert="front-end/components/Footer :: #footer-div"></div>

<!-- 版權所有 -->
<div th:insert="front-end/components/Copyright :: #copyright-div"></div>




<script data-cfasync="false" src="/Commom/js/email-decode.min.js"></script>
<script src="/Commom/js/jquery-3.4.1.min.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<script src="/Commom/js/bootstrap.bundle.min.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<script src="/Commom/js/wow.min.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<script src="/Commom/js/easing.min.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<script src="/Commom/js/waypoints.min.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<script src="/Commom/js/counterup.min.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<script src="/Commom/js/owl.carousel.min.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<script src="/Commom/js/main.js" type="0080e6b992b21508d4c0eeae-text/javascript"></script>
<script src="/Commom/js/rocket-loader.min.js" data-cf-settings="0080e6b992b21508d4c0eeae-|49" defer=""></script>
<script src="/Member/Sam_Js/Jquery.js"></script>

<script>
    let test = $("#isLogin").val();
    console.log(test);
</script>

</body>

</html>