.wm-color,
.wm-colorhover:hover,
.wm-megamenu li h4,
.wm-megalist li:hover a,
.wm-dropdown-menu>li:hover>a,
.navbar-nav>li:hover>a,
.wm-footer-widget-title h5,
.wm-banner-one-nav-layer h1,
.wm-fancy-title h2,
.wm-popular-courses-text h6 a,
.whychooseus-list h6,
.wm-testimonial-slider .slick-arrow,
.wm-simple-section-title h2,
.wm-contact-tab .nav-tabs li.active a,
.wm-contact-tab .nav-tabs li:hover a,
.wm-view-btn a:hover,
.wm-view-btn a.active,
.wm-section-title-two h2,
.wm-widget-title h2,
.wm-Article h6 a,
.wm-latestnews h5 a,
.wm-detail-editore h2,
blockquote:before,
blockquote,
.wm-detail-editore h3,
.wm-widgettitle h2,
.wm-reviews-text .rating-box:before,
.wm-typo-title h1,
.wm-typo-title h2,
.wm-typo-title h3,
.wm-typo-title h4,
.wm-typo-title h5,
.wm-typo-title h6,
.wm-title-typoelements h2,
.wm-classic-heading h2,
.wm-price-plans span,
.wm-promo-box-text h2,
.wm-button-right .wm-subscribe-button:hover,
.wm-iconarrow-right-button,
.wm-iconarrow-left-button,
.wm-ourcourses-left .wm-rating:before,
.wm-ourcourses-left .rating-box:before,
.wm-title-full h2,
.wm-courses-average-rating .rating-box:before,
.wm-courses-average-rating .rating-box:before,
.wm-courses-average-rating span,
.wm-widget-heading h4,
.wm-student-nav ul li a,
.widget_course-price>ul>li>a i,
.wm-futurecourse h4 a,
.wm-plane-title h2,
.wm-full-title h2,
.wm-favorite h2 a,
.wm-student-profile>.wm-circle-icon,
.wm-student-nav-text h6,
.wm-courses-authorinfo .wm-author-text h5 a,
.wm-profile-info .wm-title-full h5,
.wm-reviews-text .wm-rating:before,
.wm-reviews-text .rating-box:before,
.wm-summary h2,
.wm-summary .wm-levelrating:before,
.wm-summary .rating-box:before,
.wm-summary .rating-box:before,
.wm-summary .wm-levelrating:before,
.wm-summary .rating-box:before,
.singleshop-tab .nav-tabs>li.active>a,
.singleshop-tab .nav-tabs>li.active>a:hover,
.wm-shop-products h2,
.wm-404page-text h3,
.wm-submit-question h6,
.wm-submit-question p,
.wm-faq h2,
.wm-submit-question h6,
.wm-submit-question p,
.wm-faq h2,
.wm-faq-form h2,
.widget_check-box h5,
.widget_futurecourse h5,
.wm-futurecourse h4,
.wm-futurecourse li a,
.wm-grid-info h6,
.wm-professor-info h2,
.wm-professor-contact i,
.wm-rich-aditor h3 {
    color: #222845;
}

.wm-bgcolor,
.wm-bgcolorhover:hover,
.wm-topstrip,
.modal-backdrop,
.wm-banner-one-nav-layer.slick-current,
.wm-courses-popular figcaption,
.wm-learn-listing figure:before,
.wm-counter-simple,
.wm-testimonial-slider-wrap p,
.wm-light-transparent,
.wm-contact-tab .nav-tabs li a:before,
.wm-promo-box-text a,
.wm-testimonial-slider-wrap p,
.wm-light-transparent,
.wm-contact-tab .nav-tabs li a:before,
.wm-blog-author,
.wm-price-plans h2,
.wm-gallery figure:hover figcaption,
.wm-get-started-button:hover,
.wm-promo-box-text>.wm-save,
.wm-our-professors figure figcaption:before,
.wm-student-favorite-text,
.wm-normal-btn a:hover,
.wm-normal-btn a.active,
.wm-grid-tittle {
    background-color: #222845;
}

.wm-bordercolor,
.wm-bordercolorhover:hover {
    border-color: #222845;
}

.wm-testimonial-slider-wrap p:before {
    border-top-color: #222845;
}



/* ColorTwo */
.wm-popular-hover small,
.whychooseus-list ul li span,
.wm-fancy-title h2 span,
.wm-event-latest-slider .slick-arrow:hover,
.wm-latest-event-text time,
.wm-testimonial-slider-wrap figure figcaption span,
.wm-testimonial-slider .slick-arrow:hover,
.wm-post-options li,
.wm-post-options li a,
.wm-simple-section-title h2 span,
.wm-partners-slider .slick-arrow:hover,
.wm-contact-tab .nav-tabs li a,
.wm-contact-form form input[type="submit"],
.contact-social-icon li:hover a,
.contact-social-icon li:hover i,
.wm-lesson-list figure figcaption span,
.wm-lesson-tabnav li.active a,
.wm-lesson-text time i,
.wm-lesson-text span i,
.wm-plain-btn-style,
.wm-section-title-two h2 span,
.wm-event-options ul i,
.wm-buyticket-section h2,
.wm-buyticket-section ul li span,
.wm-Article time,
.wm-Article a,
.tags a,
.wm-latestnews time,
.wm-latestnews a,
.wm-blog-single .wm-blog-post-option li,
.wm-blog-single .wm-blog-post-option li a,
.wm-author-text h5 a,
.wm-social-icon li a:hover,
.wm-widgettitle h2 span,
.wm-reviews-text span,
.wm-filterable ul li a,
.wm-case-filter figcaption>a,
.wm-team-info .wm-icon a:hover,
.wm-title-typoelements h2 span,
.wm-tabs-typo .nav-tabs>li:hover,
.wm-list-wrap .wm-icon-list-style li i,
.wm-list-style li,
.wm-buyplan,
.wm-price-plans ul li a i,
.wm-promo-box .read-more,
.wm-promo-box-text span,
.wm-callaction-typo-text a,
.wm-button-left .wm-read-button,
.wm-button-left .wm-search-button,
.wm-buttonapply .wm-apply-button:hover,
.wm-button-right .wm-read-more,
.wm-arrow-right,
.wm-arrow-left-button.wm-iconarrow-righ:hover,
.wm-iconarrow-left:hover,
.wm-arrow-left,
.wm-iconarrow-right:hover,
.wm-button-right .wm-read-more-button,
.wm-ourcourses-left a,
.wm-ourcourses-right .wm-previous-icon,
.wm-ourcourses-right .wm-Next-icon,
.wm-courses-info ul li a,
.wm-certification-listing a,
.wm-courses-started-text h6 a,
.widget_professor-info>.wm-read-more,
.widget_courses-program span,
.wm-select-checkbox input[type="checkbox"]:checked+label span:before,
.widget_course-price span,
.widget_course-price a,
.wm-futurecourse a:hover,
.wm-futurecourse span,
.wm-Article h6 a:hover,
.wm-latestnews h5 a:hover,
.wm-price-plans ul li i,
.wm-student-nav-text a,
.wm-student-nav ul li:hover>a,
.wm-student-dashboard-form form input[type="submit"],
.wm-favorite>.wm-remove,
.wm-statement-started-text h6 a,
.wm-student-profile-text>a:hover,
.wm-profile-info article ul li h6 a,
.wm-student-nav ul li>a:hover i,
.wm-profile-info article ul li a:hover,
.wm-our-professors figcaption>a,
.wm-classic-heading h2 span,
.wm-student-nav ul li.active a,
.wm-student-nav ul li:hover>a,
.wm-student-nav ul li.active>a:before,
.wm-student-nav ul li.active>a i,
.wm-student-nav ul li.active>a:before,
.wm-profile-detail-info h6 a,
.wm-reviews-text span,
.wm-summary .wm-reviews span,
.wm-summary span,
.wm-shop-icon span,
.wm-404page-text li:before,
.wm-404page-text a,
.wm-404page-button a,
.wm-404page-button a:before,
.wm-sidebar li:hover a:after,
.wm-sidebar li:active a:after,
.wm-sidebar a:hover,
.wm-sidebar a:active,
.wm-sidebar a:focus,
.wm-submit-question a,
.wm-sidebar li:hover a:after,
.wm-sidebar li:active a:after,
.wm-submit-question a,
.wm-faq .panel-title a,
.wm-faq-form input[type="submit"],
.wm-sidebar a:hover,
.wm-sidebar a:active,
.wm-sidebar a:focus,
.widget_check-box .rating-box:before,
.widget_check-box .rating-box:before,
.wm-futurecourse a:hover,
.wm-futurecourse span,
.wm-range-slider form input[type="submit"],
.wm-grid-info span,
.wm-cart-button a,
.wm-cart-button i,
.widget_our-professors figcaption a:hover,
.widget_our-professors ul li a:hover i,
.widget_contact-form input[type="submit"],
.widget_twittwe-feed h5 span,
.widget_twittwe-feed li a:hover,
.widget_twittwe-feed li:before,
.wm-rich-aditor li:before,
.wm-shop-list .wm-cart-button>span {
    color: #b99663;
}

.wm-banner-btn,
.wm-contact-form form input[type="submit"],
.wm-plain-btn-style,
.tags a,
.wm-filterable ul li a,
.wm-case-filter figcaption>a,
.wm-tabs-typo .nav-tabs>li a:hover,
.wm-tabs-typo .nav-tabs>li.active a,
.wm-tabs-listing>.nav-tabs>li.active,
.wm-tabs-listing>.nav-tabs>li:hover,
.wm-buyplan:hover,
.wm-promo-box .read-more,
.wm-callaction-typo-text a,
.wm-button-left .wm-read-button,
.wm-button-left .wm-search-button,
.wm-button-right .wm-read-more-button,
.wm-arrow-left:hover,
.wm-ourcourses-right .wm-previous-icon,
.wm-ourcourses-right .wm-Next-icon,
.widget_professor-info>.wm-read-more,
.widget_course-price a,
.widget_course-price>a:hover,
.widget_professor-info>.wm-read-more:hover,
.wm-student-dashboard-form form input[type="submit"],
.wm-favorite>.wm-remove,
.wm-profile-info article ul li .wm-select-checkbox input[type="checkbox"]+label span,
.wm-student-nav-text a,
.wm-our-professors figcaption>a,
.wm-tabs-listing .nav-tabs>li.active a,
.wm-tabs-listing>.nav-tabs>li:hover a {
    border-color: #b99663;
}

.wm-banner-btn:hover,
.wm-banner-one-nav-layer.slick-current .wm-banner-btn,
.wm-search-course ul li input[type="submit"]:hover,
.wm-subscribe-form h2:before,
.wm-contact-form form input[type="submit"]:hover,
.wm-transparent-hover,
.wm-lesson-tabnav li.active a:before,
.tabs-nav li:hover a,
.tabs-nav li.active a,
.tags a:hover,
.wm-form input[type="submit"],
.wm-filterable ul li a:hover,
.wm-filterable ul li a.active,
.wm-filterable-text li:hover figcaption,
.wm-accordion .panel-default .panel-heading a:before,
.wm-accordion .panel-default .panel-heading a:after,
.wm-toggle-element .panel-default .panel-heading a:before,
.wm-toggle-element .panel-default .panel-heading a:after,
.wm-tabs-typo .nav-tabs>li.active,
.wm-tabs-typo .nav-tabs>li a:hover,
.wm-tabs-listing>.nav-tabs>li.active,
.wm-tabs-listing>.nav-tabs>li:hover,
.wm-buyplan:hover,
.wm-typo-transparent-color,
.wm-button-left .wm-read-button:hover,
.wm-button-left .wm-search-button:hover,
.wm-button-right .wm-read-more-button:hover,
.wm-ourcourses-right .wm-previous-icon:hover,
.wm-ourcourses-right .wm-Next-icon:hover,
.wm-courses-getting-started .wm-courses-preview a:hover,
.widget_course-price>a:hover,
.wm-courses-detail-rating ul li .wm-rating-box:before,
.widget_professor-info>.wm-read-more:hover,
.wm-student-dashboard-statement article ul li .wm-dowmload:hover,
.wm-in-Progress,
.wm-profile-info article ul li .wm-select-checkbox input[type="checkbox"]:checked+label span:before,
.wm-tabs .nav-tabs>li:hover a,
.wm-tabs-listing .nav-tabs>li:hover a,
.wm-article ul li .wm-select-checkbox input[type="checkbox"]:checked+label span:before,
.wm-404page-button a:before,
.wm-404page-button a:after,
.wm-submit-question a:hover,
.wm-submit-question a:active,
.wm-submit-question a:focus,
.wm-submit-question a:hover,
.wm-submit-question a:active,
.wm-submit-question a:focus,
.wm-faq-form input[type="submit"]:hover,
.wm-range-slider form input[type="submit"]:hover,
.widget_check-box .ui-slider .ui-slider-handle,
.wm-cart-button a:before,
.wm-cart-button a:after,
.widget_contact-form input[type="submit"]:hover,
.wm-professor-contact a:before {
    background-color: #b99663;
}