<span style="font-size: 40px; font-family: serif;">Le Goûter </span>
<span style="font-size: 40px; font-family: 'Jost', sans-serif;">&nbsp後台管理系統</span>

<!-- 員工功能小圈圈 -->
<div class="dropdown" style="position: absolute; right: 30px;">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
       id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/weichen9715/catpic/blob/main/smudge_lord_60314581_2452933891436033_1050250552612724249_n.jpg?raw=true"
             alt="noimg" width="30" height="30" class="rounded-circle">
        <span class="d-none d-sm-inline mx-1" style="color: #1E1916;">員工</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <!-- <li><a class="dropdown-item" href="#">New project</a></li>
<li><a class="dropdown-item" href="#">Settings</a></li> -->
        <li><a class="dropdown-item" href="#">選項</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="/employee/logout">登出</a></li>
    </ul>
</div>
