<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <!-- Menu
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-sm-inline mt-3">Menu</span></a> -->


    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
        id="menu">

        <!-- 1 -->
        <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
                <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
        </li>

        <!-- 2 -->
        <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">會員管理系統</span></a>
            <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                <li>
                    <a href="/member/data/list" class="nav-link px-4"> <span
                            class="d-none d-sm-inline">會員資料管理</span></a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">優惠管理</span></a>
                </li>
            </ul>
        </li>

        <!-- 3 -->
        <!--
            <li>
                <a href="#" class="nav-link px-0 align-middle">
                    <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
            </li>
        -->

        <!-- 4 -->
        <li>
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">網站管理系統</span></a>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                <li class="w-100">
                    <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">即時客服</span></a>
                </li>
                <li>
                    <a href="/carousel/manage" class="nav-link px-4"> <span class="d-none d-sm-inline">輪播圖管理</span></a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline"
                                                             id="news-organization">最新消息管理</span></a>
                </li>
            </ul>
        </li>

        <!-- 5 -->
        <li>
            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">團購管理系統</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                <li class="w-100">
                    <a href="#" class="nav-link px-4"> <span
                            class="d-none d-sm-inline">團購商品管理</span></a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4"> <span
                            class="d-none d-sm-inline">團購參與者訂單管理</span></a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4"> <span
                            class="d-none d-sm-inline">團購方案管理</span></a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4"> <span
                            class="d-none d-sm-inline">團購活動管理</span></a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4"> <span
                            class="d-none d-sm-inline">團購分潤管理</span></a>
                </li>
            </ul>
        </li>

        <!-- 6 -->
        <!--
            <li>
                <a href="#" class="nav-link px-0 align-middle">
                    <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
            </li>
        -->

        <!-- 7 -->
        <li>
            <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">課程管理系統</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                <li class="w-100">
                    <a href="#" class="nav-link px-4"> <span
                            class="d-none d-sm-inline">課程訂單管理</span></a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4"> <span
                            class="d-none d-sm-inline">課程資訊審核管理</span></a>
                </li>
            </ul>
        </li>

        <!-- 8 -->
        <li>
            <a href="#submenu5" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">主廚管理</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu5" data-bs-parent="#menu">
                <li class="w-100">
                    <a href="#" class="nav-link px-4"> <span
                            class="d-none d-sm-inline">主廚資料管理</span></a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4"> <span
                            class="d-none d-sm-inline">課程討論區管理</span></a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4"> <span
                            class="d-none d-sm-inline">課程資訊管理</span></a>
                </li>
            </ul>
        </li>

        <!-- 9 -->
        <li>
            <a href="#submenu6" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">甜點管理系統</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu6" data-bs-parent="#menu">
                <li class="w-100">
                    <a href="#" class="nav-link px-4"> <span
                            class="d-none d-sm-inline">甜點訂單管理</span></a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4"> <span
                            class="d-none d-sm-inline">甜點商品管理</span></a>
                </li>
                <li>
                    <a href="#" class="nav-link px-4"> <span
                            class="d-none d-sm-inline">甜點追蹤清單管理</span></a>
                </li>
            </ul>
        </li>

        <!-- 10 -->
        <li>
            <a href="#submenu7" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">員工管理系統</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu7" data-bs-parent="#menu">
                <li class="w-100">
                    <a href="/employee/manage" class="nav-link px-4"> <span
                            class="d-none d-sm-inline">員工資料管理</span></a>
                    <a href="/employee/add" class="nav-link px-4"> <span
                            class="d-none d-sm-inline">新增員工</span></a>
                </li>
            </ul>
        </li>


    </ul>
</div>
