<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>back-nav-bar</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <!-- <link rel="stylesheet" type="text/css" href="back-nav-bar.css">  -->

  <!-- import font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">


  <style>
    #nav-bar {
      background-color: #1E1916;

    }

    .nav-pills {
      --bs-nav-pills-link-active-bg: white;
    }

    :root {
      --bs-link-color: white;
      --bs-link-hover-color: orange;

    }

    /* 標題列 */
    #mainheader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 80px;
      background: #f8d3ae;
      position: static;
      top: 0;
      left: 0;
      z-index: 999;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .nav-link {
      font-size: 20px;
    }

    .dropdown {
      font-size: 20px;
    }

    .dropdown-item {
      font-size: 20px;
    }

    .dropdown-toggle::after {
      color: #1E1916;
    }

    .tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
      font-size: 20px;
      padding: 5px;
        text-align: center;
      border-color: #212529;
    }

    .card-header {
      font-size: 40px;
    }




    .pagination-bar {
      justify-content: center;
    }

    .pagination-area .page-numbers {
      width: 40px;
      height: 40px;
      line-height: 40px;
      color: var(--heading-color);
      text-align: center;
      display: inline-block;
      margin-left: 3px;
      margin-right: 3px;
      margin-top: 20px;
      font-size: 18px;
      background-color: #f5f6fa;
      border: 1px solid #d7d7d7;
    }

    .table-responsive {
      overflow: hidden;

    }

    .form-row {
      display: inline-block;
      align-items: center;
      margin-bottom: 10px;
      margin-right: 50px
    }


    .thead.tr {
      background-color: #1E1916 !important;
      color: white;
    }




    .card-body {
      width: 100%;
      overflow-x: auto;
    }

    .table-responsive {
      width: 100%;
      margin-top: 20px;
    }

    #example3 {
      width: 100%;

      text-align: center;
    }

    #example3 th,
    #example3 td {
      padding: 3px;
      border: 1px solid #000;
    }

    .form-row {
      display: inline-flex;
    }

    h1 {
      text-align: center;
      padding: 10px;
    }

    .form-check-input[type=checkbox] {
      border-color: #1E1916;
    }

    .modal-header {
      flex-direction: column;
    }

    .search-input {
      float: right;
    }

    .page-link {
      color: #1e1916;
    }


    .px-lg-5 {
      padding-right: 3rem !important;
      padding-left: 3rem !important;
      background-color: #1e1916 !important;
    }

    /* .ms-2 {
        padding: 1.5rem !important;
    } */
  </style>


</head>

<body>


<section id="mainheader">
  <span style="font-size: 40px; font-family: serif;">Le Goûter </span>
  <span style="font-size: 40px; font-family: 'Jost', sans-serif;">&nbsp後台管理系統</span>

  <!-- 員工功能小圈圈 -->
  <div class="dropdown" style="position: absolute; right: 30px;">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
       id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/weichen9715/catpic/blob/main/smudge_lord_60314581_2452933891436033_1050250552612724249_n.jpg?raw=true"
           alt="noimg" width="30" height="30" class="rounded-circle">
      <span class="d-none d-sm-inline mx-1" style="color: #1E1916;">employee</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <!-- <li><a class="dropdown-item" href="#">New project</a></li>
<li><a class="dropdown-item" href="#">Settings</a></li> -->
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</section>


<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 " id="nav-bar">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <!-- Menu
            <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline mt-3">Menu</span></a> -->


        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
            id="menu">

          <!-- 1 -->
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>

          <!-- 2 -->
          <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">會員管理系統</span></a>
            <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-4"> <span
                        class="d-none d-sm-inline">會員權限管理</span></a>
              </li>
              <li>
                <a href="#" class="nav-link px-4"> <span
                        class="d-none d-sm-inline">會員資料管理</span></a>
              </li>
              <li>
                <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">優惠管理</span></a>
              </li>
            </ul>
          </li>

          <!-- 3 -->
          <!--
              <li>
                  <a href="#" class="nav-link px-0 align-middle">
                      <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
              </li>
          -->

          <!-- 4 -->
          <li>
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">網站管理系統</span></a>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">即時客服</span></a>
              </li>
              <li>
                <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline">輪播圖管理</span></a>
              </li>
              <li>
                <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline"
                                                         id="news-organization">最新消息管理</span></a>
              </li>
            </ul>
          </li>

          <!-- 5 -->
          <li>
            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">團購管理系統</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-4"> <span
                        class="d-none d-sm-inline">團購商品管理</span></a>
              </li>
              <li>
                <a href="#" class="nav-link px-4"> <span
                        class="d-none d-sm-inline">團購參與者訂單管理</span></a>
              </li>
              <li>
                <a href="#" class="nav-link px-4"> <span
                        class="d-none d-sm-inline">團購方案管理</span></a>
              </li>
              <li>
                <a href="#" class="nav-link px-4"> <span
                        class="d-none d-sm-inline">團購活動管理</span></a>
              </li>
              <li>
                <a href="#" class="nav-link px-4"> <span
                        class="d-none d-sm-inline">團購分潤管理</span></a>
              </li>
            </ul>
          </li>

          <!-- 6 -->
          <!--
              <li>
                  <a href="#" class="nav-link px-0 align-middle">
                      <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
              </li>
          -->

          <!-- 7 -->
          <li>
            <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">課程管理系統</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-4"> <span
                        class="d-none d-sm-inline">課程訂單管理</span></a>
              </li>
              <li>
                <a href="#" class="nav-link px-4"> <span
                        class="d-none d-sm-inline">課程資訊審核管理</span></a>
              </li>
            </ul>
          </li>

          <!-- 8 -->
          <li>
            <a href="#submenu5" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">主廚管理</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu5" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-4"> <span
                        class="d-none d-sm-inline">主廚資料管理</span></a>
              </li>
              <li>
                <a href="#" class="nav-link px-4"> <span
                        class="d-none d-sm-inline">課程討論區管理</span></a>
              </li>
              <li>
                <a href="#" class="nav-link px-4"> <span
                        class="d-none d-sm-inline">課程資訊管理</span></a>
              </li>
            </ul>
          </li>

          <!-- 9 -->
          <li>
            <a href="#submenu6" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">甜點管理系統</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu6" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-4"> <span
                        class="d-none d-sm-inline">甜點訂單管理</span></a>
              </li>
              <li>
                <a href="#" class="nav-link px-4"> <span
                        class="d-none d-sm-inline">甜點商品管理</span></a>
              </li>
              <li>
                <a href="#" class="nav-link px-4"> <span
                        class="d-none d-sm-inline">甜點追蹤清單管理</span></a>
              </li>
            </ul>
          </li>

          <!-- 10 -->
          <li>
            <a href="#submenu7" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4"></i> <span class="ms-1 d-none d-sm-inline">員工管理系統</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu7" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-4"> <span
                        class="d-none d-sm-inline">員工資料管理</span></a>
              </li>
              <li>
                <a href="#" class="nav-link px-4"> <span
                        class="d-none d-sm-inline">員工權限管理</span></a>
              </li>
            </ul>
          </li>


        </ul>



      </div>
    </div>

    <!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
    <div class="col py-3">
      <!-- 由此開始 -->
      <h1>課程討論區管理</h1>



      <div class="from-row">
        <div class="d-flex justify-content-between">


          <div class="text-end mb-3">
            關鍵字搜尋 <input type="search" class="light-table-filter" data-table="order-table"
                              placeholder="請輸入關鍵字">
          </div>
        </div>
        <hr>
        <div class="from-row">
          <div class="card-body">
            <div class="table-responsive">
              <table class="order-table table">
                <thead>
                <tr style="background-color: #f8d3ae;color:#1E1916;">

                  <th>

                    <div class="form-check custom-checkbox ms-2">
                      <input type="checkbox" class="form-check-input" id="checkAll"
                             onchange="selectAll()">全選
                      <label class="form-check-label" for="checkAll"></label>
                    </div>
                  </th>


                  <th>課程名稱</th>
                  <th>會員編號</th>
                  <th>學員留言內容</th>
                  <th>學員留言時間</th>
                  <th>員工編號(主廚)</th>
                  <th>回覆狀態</th>
                  <th>回覆留言</th>
                  <th>刪除留言</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${courseComment}">
                  <th style="display: none" id="courseStudentCommentId" th:text="${c.getCourseStudentCommentId()}">學員留言編號</th>
                  <th>
                    <div class="form-check custom-checkbox ms-2">
                      <input type="checkbox" class="form-check-input" id="row1"
                             onchange="updateSelectedCount()">
                      <label class="form-check-label" for="row1"></label>
                    </div>
                  </th>
                  <td style="display: none" id="courseId" th:text="${c.getCourseId()}"></td>

                  <td id="couraeName" th:text="${c.getCourseName()}">GJ</td>
                  <td id="memId" th:text="${c.getMemId()}"></td>
                  <td id="studentCommentContent" th:text="${c.getCourseStudentCommentContent()}"></td>
                  <td id="studentCommentDate" th:text="${c.getCourseStudentCommentDate()}"></td>
                  <td id="empId" th:if="${c.getEmpName()!=null}" th:text="${c.getEmpName()}"></td>
                  <td id="empName2" th:if="${c.getEmpName()==null}" th:text="無人回復"></td>
                  <td id="chefCommentContent" th:text="${c.getChefCommentContent()}"></td>
                  <td id="chefCommentDate" style="display: none" th:text="${c.getChefCommentDate()}"></td>
                  <td>
                    <a th:href="@{/CourseStudentComment/reply(commentId=${c.getCourseStudentCommentId()})}">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                    </a>
                  </td>
                  <td>
                    <a href="#" class="btn btn-danger shadow btn-xs sharp"><i
                            class="fa fa-trash"></i></a>
                  </td>

                </tr>

                </tbody>
              </table>
              <div id="selectedCount"></div>
            </div>

          </div>
        </div>

        <div class="col-lg-12 col-md-12 d-flex pagination-bar"></div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link">上一頁</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">下一頁</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>





    <!-- 由此結束 -->
  </div>

  <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->

</div>








<!-- import js -->
<script src="/Conponents/back_end.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

<!-- import font awesome -->
<script src="https://kit.fontawesome.com/3d215f6a1d.js" crossorigin="anonymous"></script>
<script src="/News/Yen_js/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
<script>
  $(document).on('click','.fa-trash',function (){
    var row=$(this).closest("tr");
    var courseStudentCommentId=row.find('#courseStudentCommentId').text();
    Swal.fire({
      title: '確定要刪除嗎?',
      showDenyButton: true,
      showCancelButton: false,
      confirmButtonText: '刪除',
      denyButtonText: `取消`,
    }).then((result) => {
      /* Read more about isConfirmed, isDenied below */
      if (result.isConfirmed) {
        Swal.fire('已刪除!', '', '刪除');
        $.ajax({
          url: '/CourseStudentComment/deletecomment',
          type: "GET",
          data: {
            courseStudentCommentId: courseStudentCommentId
          },
          success: function (resp) {
            console.log(resp);
            row.remove();
          },
          error: function (xhr, textstatus, errorThrown) {
            console.error(xhr);
          }
        });
      } else if (result.isDenied) {
        Swal.fire('確定不刪除嗎', '', 'info');
      }
    });
  })

  (function (document) {
    'use strict';

    var LightTableFilter = (function (Arr) {

      var _input;

      function _onInputEvent(e) {
        _input = e.target;
        var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
        Arr.forEach.call(tables, function (table) {
          Arr.forEach.call(table.tBodies, function (tbody) {
            Arr.forEach.call(tbody.rows, _filter);
          });
        });
      }

      function _filter(row) {
        var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
        row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
      }

      return {
        init: function () {
          var inputs = document.getElementsByClassName('light-table-filter');
          Arr.forEach.call(inputs, function (input) {
            input.oninput = _onInputEvent;
          });
        }
      };
    })(Array.prototype);

    document.addEventListener('readystatechange', function () {
      if (document.readyState === 'complete') {
        LightTableFilter.init();
      }
    });

  })(document);


  function selectAll() {
    var checkboxes = document.querySelectorAll('.table-responsive .form-check-input');
    var selectAllCheckbox = document.getElementById('checkAll');
    var selectedCount = 0;

    checkboxes.forEach(function (checkbox) {
      checkbox.checked = selectAllCheckbox.checked;
      if (checkbox.checked) {
        selectedCount++;
      }
    });

    updateSelectedCount(selectedCount);
  }

  function updateSelectedCount() {
    var checkboxes = document.querySelectorAll('.table-responsive .form-check-input');
    var selectedCount = 0;

    checkboxes.forEach(function (checkbox) {
      if (checkbox.checked) {
        selectedCount++;
      }
    });

    var selectedCountElement = document.getElementById('selectedCount');
    selectedCountElement.innerHTML = '已選取 ' + selectedCount + ' 筆資料';
  }

  // Initial count when the page loads
  updateSelectedCount();


  //ajax


  document.addEventListener("DOMContentLoaded", function () {
    var no = document.getElementsById("news-organization");
    //綁定事件:按下側邊欄最新消息管理
    no.addEventListener("click", function () {
      //ajax
      const xhr = new XMLHttpRequest();
      //設置請求方法及位置
      xhr.open('GET', 'NewsServlet2');
      //發送
      xhr.send();
      //狀態改變
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            var newDAO = xhr.responseText;
            updatetable(newDAO);
          } else {
            console.error(xhr.status);
          }
        }
      }
    })
  })

  //ajax


</script>

</html>